[2022-03-19 18:38] #551 closed

[2022-03-20 16:44] nmcharlton opened #559 "Growers not loading"
![image](https://user-images.githubusercontent.com/5558838/159172987-e03c5c7d-479c-4789-b4ea-2c1532e638db.png)

`growerAccountUuid` is not yet supported in the API and database. We can comment it out until we move across to the new domain (see #487).

[2022-03-20 17:18] #559 closed

[2022-03-20 23:52] ZavenArra opened #561 "can't see grower accounts in the test environment"

[2022-03-21 02:22] ZavenArra opened #562 "First individual message does not appear in list until refresh"
The first time I create a message to an individual, the message does not appear in the list of messages until I refresh the page.   The message sends successfully though.

[2022-03-21 02:23] ZavenArra opened #563 "Handle 'all' values for organization and region"
Only admin should be able to send to ALL users in the platform

No 'All' option for organization for organizational users, default to main org for this user

Default for region is 'Everywhere' - not id submitted on post

[2022-03-21 07:25] nmcharlton commented on #561
@ZavenArra Are you still not seeing any results on the Growers page, or is this a different bug? I pushed a fix to test and staging yesterday.

[2022-03-21 17:44] ZavenArra opened #564 "Improve error message for admin user not configured"
If an admin panel user is not yet configured, the initial call to get messages for that users returns an error.   'Configured' here means that there is an entry in the author with a handle matching the username of the admin panel user.

Currently, we report this as a 'network error', but it's not an issue with the network, rather it's a configuration error.  The user is not yet configured, but can

[2022-03-21 19:13] #561 closed

[2022-03-22 02:57] dadiorchen opened #567 "Be able to check the full size tree picture"
could be as simple as opening a new tab with URL of the image by clicking the picture.

[2022-03-22 03:47] dadiorchen commented on #360
@nmcharlton do you mean we can reuse the details panel for a caputrue for this?

[2022-03-22 04:02] dadiorchen opened #568 "Should we order the candidates by distance?"

[2022-03-22 04:02] dadiorchen commented on #568
The nearest is on the top

[2022-03-22 11:23] mitia-anah commented on #254
@nmcharlton, is there any specific size that you would like me to use, or is it ok if I think about it by myself?
Thanks in advance

[2022-03-22 14:13] DJkal11 commented on #567
It says the admin login details is in the slack chat but I'm not apart of it.

[2022-03-22 19:53] nmcharlton commented on #408
Hi @mayankbucha. This is looking really good.
For Captures, the important thing to include is the thumbnail of the image (using OptimizedImage).
For Verify, none of the information is displayed in the main tool, so the tooltip should include Capture ID, Grower ID, Grower Identifier, Created and Note.

[2022-03-22 19:56] nmcharlton commented on #408
The Verify tooltip can also be used in Capture Matching

[2022-03-23 01:13] dadiorchen commented on #567
Hey, @DJkal11 thanks for commenting here, please give me your email, I will invite you to the community

[2022-03-23 07:41] DJkal11 commented on #567
***@***.***

On Wed, Mar 23, 2022 at 3:13 AM Dadiorchen ***@***.***> wrote:

[2022-03-23 10:12] dadiorchen opened #569 "The admin panel can do filter by organization"

[2022-03-23 21:06] #254 closed

[2022-03-24 00:35] dadiorchen commented on #567
Don't know why, can not check your email address, you can also send me message by dadiorchen @  outlook.com

[2022-03-24 06:43] dadiorchen opened #573 "Deal with the UX when there is no more capture on the left"
You can use filter to make it happen, by setting an impossible case, then the process bar won't stop and the panel on the left is empty.
The proper behavior: the process bar disappear when request finished, and the panel display something like: no data found.

[2022-03-24 06:47] dadiorchen commented on #573
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/159858463-79798e0c-01aa-4444-ab63-1e4d01bb6314.png">

[2022-03-24 08:49] dadiorchen opened #574 "The filter status should be shown on the panel on the left"

[2022-03-24 08:50] dadiorchen commented on #574
<img width="1439" alt="Screen Shot 2022-03-24 at 4 50 01 PM" src="https://user-images.githubusercontent.com/5744708/159878251-d7806792-2c3c-41f4-8325-3b20f01548b7.png">

[2022-03-24 08:57] dadiorchen opened #575 "The filter for organization can not unset correctly"
<img width="396" alt="image" src="https://user-images.githubusercontent.com/5744708/159879684-52282cbf-5ad7-410c-9a78-09d47791e3d7.png">

So we can not clean this select for the filter

[2022-03-24 10:47] DinahWorld commented on #575
Hi, can you assign me ?

[2022-03-24 11:42] dadiorchen commented on #575
Sure, thanks!

[2022-03-25 00:53] dadiorchen opened #576 "Display `no data found` when there isn't caputre"
<img width="1419" alt="image" src="https://user-images.githubusercontent.com/5744708/160033847-c4f44d42-84aa-45c5-a70a-74078e3b03d3.png">

[2022-03-25 00:54] dadiorchen opened #577 "Some refactor on component's structure on the matching tool page"
Currently, the matching tool page: http://localhost:3001/capture-matching is split the page into too many components, it's unnecessary, cuz we got no chance to reuse those detailed components, but it brings extra effort to maintain the code.
So we need to streamline the components tree, as much as possible putting them into the CaptureMatchingView.js

[2022-03-25 00:59] dadiorchen opened #578 "Some extension to the UI to deal with captures with no suggested matches"

[2022-03-25 01:00] dadiorchen commented on #578
@ZavenArra for this, do you have any special consideration? Except adding some words like: `no matching tree found`

[2022-03-25 01:02] dadiorchen opened #579 "Matching tool: filter's reset button doesn't work"
http://localhost:3001/capture-matching
<img width="354" alt="image" src="https://user-images.githubusercontent.com/5744708/160034487-c8f672b1-551b-4b57-883b-864856f306d4.png">

[2022-03-25 01:03] dadiorchen opened #580 "Matching tool: loading spin keeps running"
It happens when we didn't get results on some filter conditions.

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-03-25%20at%209.03.10%20AM.mp4

[2022-03-25 01:08] dadiorchen opened #581 "Matching tool: make the omitting of id more readable/useful"
Currently, the id of capture is shown as below, we can make it more useful, like : xxxx...xxxx showing the head and tail might be more useful for people to identify the capture/tree, just like we do in Git, we just use the head of the hash to identify commits.
<img width="462" alt="image" src="https://user-images.githubusercontent.com/5744708/160035090-90f4e899-8de7-4763-bc6e-48cd1799f0b5.png">

[2022-03-25 02:27] dadiorchen opened #582 "Can not display the grower info correctly"
Including grower photo, name
<img width="623" alt="image" src="https://user-images.githubusercontent.com/5744708/160042599-04e1914d-2a33-4763-a5ee-5471cda77cbc.png">

[2022-03-25 02:42] dadiorchen commented on #582
We need to fetch the grower info by grower_account_id on the client.

[2022-03-25 03:12] #567 closed

[2022-03-25 03:12] dadiorchen commented on #567
Duplicated with #360

[2022-03-25 03:15] dadiorchen commented on #326
Finished by #572

[2022-03-25 03:15] #326 closed

[2022-03-25 03:36] #580 closed

[2022-03-25 08:24] #577 closed

[2022-03-25 08:40] #569 closed

[2022-03-25 08:41] #574 closed

[2022-03-25 08:41] #575 closed

[2022-03-25 08:41] #579 closed

[2022-03-26 04:02] dadiorchen opened #587 "The matching trees' layout is too crowded"
Should be able to scroll horizontally
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/5744708/160224026-87ff68ec-e152-4d53-add5-a935f0f7bdde.png">

[2022-03-26 04:10] #582 closed

[2022-03-26 07:40] dadiorchen opened #589 "When loading do not show `no capture match found`"

[2022-03-26 07:40] dadiorchen commented on #589
<img width="1371" alt="image" src="https://user-images.githubusercontent.com/5744708/160229858-02c994ed-7bd9-4532-87ed-861ca0b3dd68.png">

[2022-03-26 08:13] #589 closed

[2022-03-26 08:36] dadiorchen opened #591 "Spin loading keeps running in this case"

[2022-03-26 08:36] dadiorchen commented on #591
<img width="1407" alt="image" src="https://user-images.githubusercontent.com/5744708/160231675-4a6e3bd3-aec6-4d28-a3b7-599b1e0cefec.png">

[2022-03-26 08:38] dadiorchen opened #592 "In the test env, can not filter by org"

[2022-03-26 08:38] dadiorchen commented on #592
https://test-k8s.treetracker.org/api/admin/api/organizations?filter[where][type]=O&filter[order]=name

[code]

[2022-03-26 08:39] dadiorchen commented on #592
They are not stakeholder id

[2022-03-26 18:38] #409 closed

[2022-03-28 02:55] dadiorchen commented on #592
Solved, should use stakehoulder_uuid instead

[2022-03-28 02:55] #592 closed

[2022-03-28 02:56] #581 closed

[2022-03-28 02:58] dadiorchen commented on #578
Now, when there isn't match, show a message: no matched tree, this might be a new tree

[2022-03-28 02:58] #578 closed

[2022-03-28 03:25] #573 closed

[2022-03-28 03:26] #576 closed

[2022-03-28 03:26] #591 closed

[2022-03-28 04:03] dadiorchen opened #594 "State chaos when matching no tree"
<img width="1422" alt="image" src="https://user-images.githubusercontent.com/5744708/160324631-24809dbe-411d-4857-817f-065ad06d009a.png">

[2022-03-28 06:46] #594 closed

[2022-03-28 07:12] dadiorchen commented on #406
So you mean just reverse the order? Now I see the order is the newest the first.

[2022-03-28 14:42] nmcharlton commented on #568
Distance would be a good start for the "best match" metric, but I think it should be the responsibility of the API to determine the order.

[2022-03-28 14:43] nmcharlton commented on #587
That's odd, horizontal scrolling used to work 😕
I guess it got broken somewhere down the line.

[2022-03-28 14:49] nmcharlton commented on #510
See:
https://github.com/Greenstand/treetracker-admin-client/blob/3f0ba86979b4dc8a28d639f3e77eaaa1834c9add/src/common/numbers.js#L1

[2022-03-28 14:56] nmcharlton opened #596 "Earnings & Payments: Use locale date format"
Throughout the Earnings and Payments tools we display dates in the MMM DD format (or some variation).
Instead, we should format dates according to the user's locale, as we do in the rest of the Admin Panel.

![Screenshot 2022-03-28 at 15 55 32](https://user-images.githubusercontent.com/5558838/160426309-51381c12-2180-4871-8bdc-1a72dc6ebfc4.png)

![Screenshot 2022-03-28 at 15 53 06](https://user-im

[2022-03-28 15:05] nmcharlton opened #597 "Earnings & Payments: Dismiss side drawer by clicking background"
Throughout the Admin Panel, we allow users to dismiss side drawers by clicking outside the drawer.
This should also apply in the Earnings and Payments tools for the filter, date range and details drawers.
Also, the details drawer should use the same show/hide animation as the filter drawers.

![Screenshot 2022-03-28 at 16 02 28](https://user-images.githubusercontent.com/5558838/160427810-ed5bfd4e-

[2022-03-28 15:08] #190 closed

[2022-03-28 15:09] #46 closed

[2022-03-28 16:12] nmcharlton opened #599 "Don't query Reporting API if reporting cards are not shown on dashboard"
We don't yet show the detailed dashboard reporting cards for anyone other than Freetown, but we still query the reporting API.
There's no need to query at all the API unless the user `hasFreetownPermission`.

[2022-03-28 16:18] nmcharlton opened #600 "Multiple calls to the same reporting endpoint"
The `/statistics` endpoint of the Reporting API returns all the statistics that populate dash cards for Freetown so only needs to be called once.
Instead, it is being called once per card.
(Note that you will need to log in as a Freetown user. You can create a user with the Freetown Manager role in the User Manager page.)

[2022-03-28 17:09] #88 closed

[2022-03-28 17:35] Tarek-Bohdima opened #610 "Get error when filter by phone number."
Earnings page: filter
- Reset button doesn’t reset filters
- Filter by Grower name doesn’t work
- Filter by Grower phone number doesn’t work
- Filter by payment status works
- Can’t test filter by other categories as they all are the same

[2022-03-28 17:37] Tarek-Bohdima opened #611 "The grower details panel is wrong"
~~Earnings page: export successfully.~~
~~- grower’s phone number in the CSV is different than that on the earning page and neither it does work on filter by grower’s phone number.~~

for this bug, check this video:

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-03-30%20at%203.49.39%20PM.mp4

Basically, we can not load the data of the grower correctly, and the traffic fe

[2022-03-28 17:39] Tarek-Bohdima opened #641 "Payment page: The date range filter: Bug"
Payment page: The date range filter:
- Reseting the date range filter reset the payments filter to payment status paid even if it shows calculated

[2022-03-29 02:02] dadiorchen commented on #46
@nmcharlton in my opinion, I think for some cases, it's good to leave some states in the component, rather than strictly move to context, I tend to just use context when necessary, for cases where we need to pass on props, callbacks in deep, context and too much hierarchy of the component tree brings the cost to maintain code

[2022-03-29 03:27] dadiorchen opened #602 "Reset button doesn’t reset filters"

[2022-03-29 10:27] sebastiangaertner opened #605 "Statistic card on actual trees versus recaptures"
There is a need to reflect the new domain model ie. Trees vs captures.

[2022-03-29 17:41] nmcharlton commented on #144
The Earnings tool is now in beta and new issues are being raised for changes.

[2022-03-30 00:39] philnorc opened #612 "Missing column payments table"
According to testCases.md,
https://github.com/Greenstand/treetracker-earnings-api/blob/main/docs/test/testCases.md,
the payments table should have a column
"Count of captures"
Neither the test panel nor the dev panel have that column.
https://test-admin.treetracker.org/earnings
https://dev-admin.treetracker.org/earnings

[2022-03-30 01:07] #510 closed

[2022-03-30 03:20] dadiorchen opened #606 "if you filter Payment by ALL it shows only paid , not calculated and paid as it should be"
Refer to: https://github.com/Greenstand/treetracker-admin-api/issues/629

[2022-03-30 03:43] dadiorchen opened #608 "Payments Filter not working"
Refer to https://github.com/Greenstand/treetracker-admin-api/issues/629

[2022-03-30 07:58] dadiorchen commented on #611
<img width="1431" alt="image" src="https://user-images.githubusercontent.com/5744708/160781616-4fa3181a-7f16-474b-a6ff-3c9da26e0e46.png">

[2022-03-31 02:34] dadiorchen commented on #612
@philnorc because this is a bug of this repo, so I transferred it to here

[2022-03-31 02:42] #612 closed

[2022-03-31 06:43] Tarek-Bohdima commented on #610
@dadiorchen Filter by phone number working perfectly.

[2022-03-31 08:24] sebastiangaertner opened #620 "Organization-specific Tags"
The list of historic Tags are taken from one pool which is confusing for admin panel users. There should be a pool of Tags coming from the organization or sub organizations

how to replicate: Verify -> Select a tree -> start typing in something = list of all historic Tags is shown.

[2022-03-31 08:25] sebastiangaertner opened #614 "https://github.com/Greenstand/treetracker-admin-api/issues/636"
Not sure where to post this. I have added it in the admin-api repository. Greenstand/treetracker-admin-client#620

[2022-04-01 01:14] #610 closed

[2022-04-01 05:49] sebastiangaertner opened #616 "List sessions and wallet registration in grower profile (grower card)"
It would be very useful to see the wallet_registration from the field_data schema and possibly the sessions in the planter profile card. This would be a quick way to determine which App the user uses. Later all filters should also be extended to session or?

[code]

[code]

[2022-04-02 08:33] dadiorchen opened #617 "The formatted amount leads to new bug"
This PR leads to new bug:
https://github.com/Greenstand/treetracker-admin-client/pull/603/files

<img width="1413" alt="image" src="https://user-images.githubusercontent.com/5744708/161374800-6f241b27-c182-439a-9f83-de3ce80ac078.png">

[2022-04-02 08:58] #617 closed

[2022-04-02 15:52] nmcharlton commented on #616
Let's review the design for the Growers tool as part of the domain migration for the Admin Panel.
We have a richer and better structured dataset and a more sophisticated set of use cases to accommodate.

[2022-04-02 16:48] nmcharlton commented on #104
We are transitioning the Admin Panel to [Keycloak](https://www.keycloak.org/), which will support user authentication self-service.

[2022-04-02 16:54] nmcharlton commented on #197
@sebastiangaertner Can this be closed now that Freetown have their new dashboard with additional cards?
Do we expect to roll the new dashboard out to all users?

[2022-04-02 16:59] #259 closed

[2022-04-02 17:17] #297 closed

[2022-04-02 17:38] nmcharlton opened #619 "Verify tool: Show a useful error on the card when a capture image fails to load"
Occasionally, a capture image fails to load for some reason (e.g., timeout, CDN error, image not found).
Currently, it's hard for the user to notice the failure, except for an apparently blank card (the unhelpful image icon is hidden behind the checkbox).
![Screenshot 2022-03-28 at 15 42 58](https://user-images.githubusercontent.com/5558838/161394606-5776b7a2-5cc2-4f17-9a45-80493b8ec5aa.png)

It w

[2022-04-02 17:43] nmcharlton commented on #620
@sebastiangaertner I've moved this to the client project as we aren't doing any more changes to the legacy API.
This change will be supported in [treetracker-api](https://github.com/Greenstand/treetracker-api).

[2022-04-02 17:45] #614 closed

[2022-04-03 12:50] #328 closed

[2022-04-03 12:50] nmcharlton commented on #328
We're now on Cypress 9.5.0

[2022-04-03 12:58] nmcharlton opened #621 "Port OptimizedImage from Statically.io to new Greenstand service"
We've had some issues lately with [Statically.io](http://statically.io/), our image resizing/caching service for the Admin Panel. Rotation has been broken for some time and the service has recently stopped resizing images altogether, returning the original image after an initial 5s timeout period. A few issues have been raised on GitHub, but there has been little recent activity from the maintaine

[2022-04-03 13:25] nmcharlton opened #622 "Remove unnecessary warning logging from Reporting cards"
Some development logging has been left over in the dashboard reporting cards and can be removed:

![Screenshot 2022-04-03 at 14 23 00](https://user-images.githubusercontent.com/5558838/161430263-fe894e01-5a05-4903-b1b3-1430da56e09d.png)

[2022-04-03 13:32] nmcharlton commented on #619
This also applies to Growers and Capture Matching where images are loaded.
All of these tools use the `OptimizedImage` component, so that would be a sensible place to centralise the functionality.

[2022-04-03 13:36] nmcharlton opened #623 "Remove/relegate OptimizedImage logging"
We're flooding the console with unnecessary logging from the OptimizedImage component. This can be removed.

![Screenshot 2022-04-03 at 14 34 26](https://user-images.githubusercontent.com/5558838/161430647-23415f25-daa9-4fff-9b46-b12691e7e263.png)

[2022-04-03 13:43] nmcharlton opened #624 "Forget route when a user logs out explicitly"
Some of our users have more than one Admin Panel account (e.g., to support multiple organizations).
When a user logs out of one account (from the Account page) and logs in with another, they are redirected to the last page they were on (Account) which seems like odd behaviour.

When they log out explicitly by clicking _Log Out_, then log back in, we should redirect them to the home page.

Note tha

[2022-04-03 13:52] nmcharlton commented on #523
We now have a registration date and a country showing for this grower, but the `organization` (`public.planter` table) and `device_identifier` (`public.planter_registration` table) fields are blank in the database.
Are we still populating those?

[2022-04-03 13:58] nmcharlton commented on #473
Hi @xxGreyscale. Have you been able to make any progress on this issue? The team has been discussing the best strategy for API error handling across the Admin Panel, and @gwynndp has proposed some changes in #566, focussed on the Messaging tool. It would be good to share and align the work on this area.

[2022-04-03 14:04] nmcharlton commented on #447
I'm really keen for us to implement a universal mechanism for us to cross-link to filtered views in other tools.
This is an excellent example, as is the ability to click the capture counts on Grower Details and see the captures in the Verify or Captures tool.

[2022-04-03 14:15] nmcharlton commented on #253
These stats still seem to be loading slowly, but that may be at least partially caused by #600.

[2022-04-04 02:20] dadiorchen commented on #622
I guess that's from me, sorry, I planned to deescalate the log level to debug/trace so it will disappear.

[2022-04-04 10:58] iib0011 commented on #621
Does this need need a new repo?

[2022-04-04 11:22] xxGreyscale commented on #473
So far I haven't made any significant progress ready to be aligned with the main repository. Just figured out a way of handling most errors. But yet to be implemented

[2022-04-04 20:19] philnorc opened #628 "Numeric values should be flush right"
In the Earnings and Payments tables, rthe columns with numeric values should be aligned flush-right, not flush-left. See Amounts and Capture Count.

[2022-04-04 20:29] jeremydthomas commented on #596
Hey Nick, could you get me into the slack channel? Looks like I need login information that comes from there. @nmcharlton

[2022-04-04 20:30] philnorc opened #632 "In details displays, make typography consistent"
In Earnings Details and Payments Details,
most of the field names are small, fine print, title capped; the field values are large and bold.

We should keep that pattern consistent:
- Delete the large bold subheading "Consolidation"
- In Earnings Details, above the form for submitting new payments, change large bold "Payment" to small fine print
- Write "Payment Confirmation Method," "Payment Confi

[2022-04-04 20:32] philnorc opened #630 "Details: ID of what?"
In the Earnings and Payments Details, the label of the fourth field-- "ID" --is ambiguous. It's easy to misunderstand. ID of what? The Organization?

Change the label to "Record ID"

[2022-04-04 20:51] nmcharlton commented on #596
Hi @jeremydthomas, here's an invitation link: https://join.slack.com/t/greenstand/shared_invite/zt-13hedhs8w-fuQHV9S2yLuNs0Pm2sX4aA (valid for 24 hours).

[2022-04-05 00:46] #623 closed

[2022-04-05 16:55] sebastiangaertner commented on #616
ok. great.

[2022-04-06 01:47] dadiorchen commented on #596
@nmcharlton I added this to the earnings milestone 2, please don't merge issues in m2 til we release the current earnings, to avoid new bugs, does this make sense?

[2022-04-06 01:48] dadiorchen commented on #596
Maybe we need to develop a new workflow to deal with the concurrent dev branchs.

[2022-04-06 01:50] dadiorchen commented on #596
Days before a volunteer formatted the money amount with commas, we ran into a new bug because of that...

[2022-04-06 03:14] #628 closed

[2022-04-06 03:20] #630 closed

[2022-04-06 04:01] #632 closed

[2022-04-06 04:18] jeremydthomas commented on #596
Just seen this, was going to do a PR, should I just stop what I am doing for now @dadiorchen

[2022-04-06 06:17] nmcharlton commented on #621
We now have [images-api](https://GitHub.com/Greenstand/images-api).

[2022-04-06 07:45] dadiorchen commented on #596
Yes, @jeremydthomas please hold on for a while, @nmcharlton I have another question now, I think in the earnings tool, we'd better use the date format in this way: yyyy-MM-dd, we can still use locale time, but the date format is like this.
The reason for this is that we need people to populate the date manually, I think the 2022-03-21 is easier than Mar 22, 2022, and this more clear to recognize i

[2022-04-06 20:52] philnorc commented on #632
In the LOG PAYMENT form, change the first placeholder to "Payment Confirmation ID"
Identifier is typically abbreviated with two caps.

[2022-04-06 20:55] philnorc commented on #628
The column headings should also be flush right, else they are not above the numbers
<img width="463" alt="Screen Shot 2022-04-06 at 3 54 57 PM" src="https://user-images.githubusercontent.com/52667892/162069127-d61fdef1-f6ff-4a79-bfa5-d510bb9bac4e.png">
.

[2022-04-06 21:54] philnorc opened #639 "0-0 of 0 in lower right"
The record count in the lower-right corner is bad.
It says "0-0 of 0"
It should count the records on the page, and the selected records.
Suppose I select 40 records in calculated state.
And I display 20 of them per page.
For page one, the lower-right should say "1-20 of 40"
I saw accurate numbers earlier this week.
Something went wrong.
<img width="293" alt="Screen Shot 2022-04-06 at 4 31 08 PM" s

[2022-04-06 23:54] philnorc opened #643 "Upload changes "paid_at" date"
After a batch upload, the table routinely displays a Payment Date one day earlier than the date specified in the uploaded data.

For example, I just uploaded two records with paid_at dates of 2022-04-07 and 2022-04-02.
The Payments table displays those two records with Payment Dates 2022-04-06 and 2022-04-01.

That is strange and bad. The user knows when he paid. We do not. We must honor whatever

[2022-04-07 06:44] #639 closed

[2022-04-07 07:09] #641 closed

[2022-04-07 07:35] dadiorchen commented on #643
I think this is a pretty special case, when we upload the date, we just specify the date, not time, so when data is inserted into the db, we have to set it to the date + zero clock zero minitue, so if we use locale time to display the date, it's possible in some timezone the date number is changed, so we have to display the date in zero timezone, like I did in the PR.
@philnorc can you check now i

[2022-04-07 07:35] #643 closed

[2022-04-07 07:58] dadiorchen commented on #628
@philnorc please check again, on the amount column, because of the sort icon need some space, so the right alignment of the header is not so perfect:

<img width="135" alt="image" src="https://user-images.githubusercontent.com/5744708/162149822-25056e15-3c40-430a-aea3-4569cdfbb02c.png">

[2022-04-08 06:43] sebastiangaertner opened #647 "Need to be able to un approve captures"
There should be a work flow to be able to actually un approve captures and put them back into the unverified state. EXCLUDING tokenized captures of course.

[2022-04-10 16:03] #562 closed

[2022-04-10 16:51] #587 closed

[2022-04-10 17:09] nmcharlton commented on #596
@dadiorchen I agree. If we need consistency between what's in the CSV and what we display, ISO format is best.
Where we use locale format elsewhere, it's just to display system-generated dates/times and filter selections, so we favour human-readability over simplicity for parsing and avoiding errors, but as you suggest, this is a different use case.

[2022-04-10 17:16] nmcharlton commented on #596
@dadiorchen I notice you've fixed the dates in the table under #634. It would be nice to still change the dates on the _Date Range_ button to use the locale format.
<img width="170" alt="Screenshot 2022-04-10 at 18 13 56" src="https://user-images.githubusercontent.com/5558838/162631348-60afa033-f06d-40c1-a3d6-8002dbb869a8.png">

[2022-04-10 18:00] #622 closed

[2022-04-10 18:24] nmcharlton commented on #621
See spec: https://github.com/Greenstand/images-api/blob/main/docs/api/spec/images-api.yaml

The API is deployed in the dev env at https://dev-k8s.treetracker.org/images
This URL should be set in `.env.development`

[2022-04-11 01:56] dadiorchen commented on #596
@nmcharlton what do you mean by `local format`? Is there any standard?

[2022-04-11 05:52] nmcharlton commented on #596
See src/common/locale.js

[2022-04-11 08:37] jeremydthomas commented on #596
Interestingly enough local.js is what I used in my changes. Was the easiest thing I seen to do without adding or changing too much to the codebase and what was used in other spots.

[2022-04-11 20:25] nmcharlton commented on #621
Note that the API supports rotation – we should replace our current CSS rotation with this mechanism.

[2022-04-12 02:34] jeremydthomas commented on #596
Did you want to look at my PR, I did use the local.js as it was what other modules were using.

[2022-04-18 01:50] jeremydthomas commented on #596
@nmcharlton @dadiorchen did you guys want the changes using the locale.js format? i see the format got changed to yyyy-mm-dd. Ill just look for something else to work on if not.

[2022-04-18 12:45] nmcharlton commented on #647
@sebastiangaertner Is this something users would likely want to do in bulk, perhaps as a third option in the Verify tool, or is it the odd capture? If the latter, it could be part of the individual capture tag edit feature.
Either way, the feature should be controlled by user role policies.

[2022-04-18 14:55] nmcharlton commented on #596
@jeremydthomas Let's leave this one for now. I'm happy that the change to yyyy-mm-dd introduces the consistency we need. I'll close the issue.

[2022-04-18 14:55] #596 closed

[2022-04-23 18:07] #621 closed

[2022-04-25 08:57] sebastiangaertner opened #653 ""Captures" module needs token_id in list view"
For organisations to better manage their data themselves it would be super helpful if the token_id is included in the list view since it is already in the filters.
Currently you can filter by tokenized or not but exporting you only get the capture ids which does not allow to create a token request query since that is always based on the token_id.

Am giving this a priority status since it should b

[2022-04-25 19:25] nmcharlton commented on #653
The token ID is already available to the client as the `tokenId` so this should be straightforward.
@sebastiangaertner Shall we just replace the _Token Status_ column with _Token ID_?

We should update the _Capture Token_ in the Capture Detail dialog at the same time.

[2022-04-25 19:49] #619 closed

[2022-04-26 16:32] ZavenArra commented on #523
We should read this data from the field_data schema now.

An individual grower account can have multiple organizations - this is because a grower account has multiple sessions and each session can have an organization that has been selected.

And individual grower has multiple devices, but note that in the field_data schema these are captures as 'device_configuration' which means the same device w

[2022-04-26 16:38] ZavenArra commented on #446
This has a dependency on moving the verify tool over to the treetracker-api.  We'll respect that dependency for now, but may elect to add this feature both legacy and treetracker-api soon if other higher priority production issues are not present.

[2022-04-26 16:42] ZavenArra commented on #600
The correct solution here is to place the statistics endpoint behind a CDN so that it can be cached.

[2022-04-26 16:44] sebastiangaertner commented on #599
We only have a handful of orgs that have sub organizations. Could we just activate the stats for all of them?

[2022-04-26 16:45] ZavenArra commented on #600
Note from @dadiorchen, we could also use the airflow pre-cache request to refresh the cache every 8 hours rather on demand.

[2022-04-26 16:53] ZavenArra opened #654 "Activate reporting cards for all organizations"

[2022-04-26 16:54] ZavenArra commented on #599
This superseded by https://github.com/Greenstand/treetracker-admin-client/issues/654.  The right thing to do is provide this feature for all organizations.

[2022-04-26 16:59] ZavenArra commented on #647
The idea of 'unapproval' needs to be considered as an error mode in the workflow.  Recovery from this error mode requires replacing the current token associated to the capture with a valid token, unless the toke is still in the originating grower wallet.

[2022-05-04 20:22] nmcharlton commented on #654
Depends on https://github.com/Greenstand/treetracker-reporting

The reporting API doesn't yet support an organization filter.
Currently, only Freetown captures are pushed to the `reporting.capture_denormalized` table.

[2022-05-04 20:29] nmcharlton commented on #523
This change depends on porting the Growers tool across to treetracker-api so that we have access to the new grower uuid to link to the field_data.

@gwynndp One for the list.

[2022-05-05 03:52] dadiorchen opened #656 "Login problem"
When I use my Chrome to login, (prod env) I got error:
<img width="1137" alt="image" src="https://user-images.githubusercontent.com/5744708/166861294-72e4900e-0026-45da-94dd-f0cba6a91f69.png">

But if I use incognito mode, I succeeded:
<img width="1428" alt="image" src="https://user-images.githubusercontent.com/5744708/166861348-a5ba87b8-8b1a-44de-a75c-1ab818628728.png">

I guess this is because t

[2022-05-06 02:27] dadiorchen commented on #616
@nmcharlton do you have any resource in terms of Figma UX prototype or so for the grower tool? Please send it to me so it's easier for me to get involved.

[2022-05-07 14:46] nmcharlton commented on #616
@dadiorchen We don't yet have a design for how to present field data.

The baseline grower details design is in https://www.figma.com/file/G4Kl9fzLRgnk0SaeTne1Mc?node-id=6453:4960

@rgesulfo Would you be able to help us with this design? In particular how to present details for different planing sessions.

In addition to the grower card and details dialog, we will soon have a new tooltip for quick

[2022-05-07 14:50] nmcharlton commented on #656
This may be another symptom of #290. We may not be adequately clearing local storage when check_session fails, causing issues when you try to log in again.

[2022-05-07 14:52] nmcharlton commented on #290
We're going to hold off fixing this until we've ported to keycloak since lots of session management issues like this will be taken out of our hands.

[2022-05-14 12:43] rishad190 commented on #624
@nmcharlton Could you please provide me with another admin account? I want to solve this routing issue.

[2022-05-15 19:55] nmcharlton commented on #624
@rishad190 You can create an account for testing using the User Manager page. You will need to set the password for the new account using the key icon.

[2022-05-16 13:47] rishad190 commented on #624
@nmcharlton I believe the issue has been resolved. You can now look over the code.

[2022-05-17 16:19] ZavenArra commented on #616
@Kpoke Can also provide support in terms of the field data schema and API.

[2022-05-17 19:28] #408 closed

[2022-05-17 19:58] #653 closed

[2022-05-18 18:46] nmcharlton opened #659 "Enable Earnings and Payments in production"
The Earnings and Payments tools have been accepted in the beta environment against production microservices and can now be enabled in production.
This means that the feature flag governing whether the tools are visible can be removed from the code.

[2022-05-18 19:17] nmcharlton opened #660 "Growers tooltip is jumpy"
The new tooltip that appears with additional info in the Growers page when a user hovers over a Grower card jumps around and seems to cause the page to grow an extra scrollbar when the card is close to the bottom:

https://user-images.githubusercontent.com/5558838/169138813-bfa8caed-1f89-4690-886e-1f4e86a2d948.mov

[2022-05-18 19:18] nmcharlton commented on #660
@mayankbucha Do you think you could take a look at this?

[2022-05-18 19:23] nmcharlton opened #661 "Capture tooltip doesn't show capture image and causes jumpiness"
Perhaps due to a merge problem, the Captures tooltip isn't showing a capture image.
Also, if you hover over a record towards the bottom of the screen, it causes the table to jump:

https://user-images.githubusercontent.com/5558838/169139526-4686d6f3-dbe6-4e1e-bac9-dbba86a5ad9d.mov

[2022-05-18 19:25] nmcharlton commented on #660
This may have broken in the merge into master.

[2022-05-18 21:26] #659 closed

[2022-05-21 18:17] Tarek-Bohdima opened #664 "Bug: Growers : opening side panel doesn't dismiss the hovered quick-look details"
steps to reproduce:
- going to Growers on admin panel
- hover over some growers quickly
- click on any grower
- side panel opens while the hovered quickin details still hanging

![Screenshot 2022-05-21 at 21 10 31](https://user-images.githubusercontent.com/33880180/169664337-bc031672-cace-46e9-a60e-17a3917627c2.png)

[2022-05-21 20:53] nmcharlton opened #665 "Verify: Additional tags not applied"
Bug present since v1.39.3, released to production 2022-01-10.
Tags entered in the Additional Tags field of the Verify tool are not attached to captures when they are approved or rejected.

[2022-05-21 21:37] #665 closed

[2022-05-23 15:38] sebastiangaertner opened #667 "Notes field should be visible for every tree in the capture matching tool (maybe even in other views)"
We have seen that the "notes" field in the app is often used to define if the capture is a first tracking or maintenance visit, therefore  it would make sense to show the content of the notes field in the capture matching tool. this could even be done with some kind of sticky note graphic and the notes content on that right on the image. https://media.istockphoto.com/photos/yellow-note-paper-pictu

[2022-05-23 16:23] #564 closed

[2022-05-23 18:50] sebastiangaertner opened #668 "Unverified capture card can not be correct"
Attached the card showing 0 but when we filter by captures in the verify tool it shows 932 captures
![Screenshot 2022-05-23 at 20 48 46](https://user-images.githubusercontent.com/3283800/169886877-94d16497-8fad-4e19-a0a8-b181a9e76168.png)

[2022-05-24 16:31] ZavenArra opened #669 "Need for a notes field for internal comments and a public facing "about" text field in the growers section"

[2022-05-24 16:31] ZavenArra commented on #669
This may have a dependency on creating a comments API.

[2022-05-24 18:45] gwynndp opened #670 "implement KeyCloak login and auth to get organization info"

[2022-05-29 13:56] #624 closed

[2022-05-29 15:43] nmcharlton opened #673 "Verify and Captures filters: Allow user to specify multiple grower IDs"
A common use case for the Verify tool is to approve captures from several growers at once.
In order to support this, the Grower ID filter should allow the user to specify multiple IDs.

For consistency, this functionality should be available in the Captures tool filter as well.

@sebastiangaertner Feel free to add comments if you have any.

[2022-05-31 16:41] ZavenArra commented on #293
It looks like this this ticket was moved into the production project board, but it's an old issue from several months ago.  Is this still active?  @sebastiangaertner

[2022-05-31 18:18] #453 closed

[2022-06-03 19:28] nmcharlton opened #675 "Capture Details: Allow user to remove capture tags"
If a user has the `APPROVE_TREE` policy, they should be able to remove capture tags, one by one, from captures via the Capture Details dialog:

1. Capture tag chips (the last ones listed under _Other_) are marked deletable for privileged users (X appears to the right of the label)
2. Clicking the X prompts _Are you sure you wish to remove {name} from this capture?_
3. User clicks _Remove Tag_ to c

[2022-06-06 19:49] mayankbucha commented on #661
@nmcharlton image is not shown because in `OptimisedImage` component (that we are using to display the tooltip capture image) the `cdnUrl`  that is generated is different from the `src` . And on accessing the `cdnUrl` we get 500 error.

[2022-06-07 19:32] Kpoke opened #679 "Karen reports some duplicated trees showing up in the admin panel"
![Image](https://user-images.githubusercontent.com/28721558/172466108-2eafed77-1737-4896-9cd1-bba574585229.png)

![Image](https://user-images.githubusercontent.com/28721558/172466314-9419b9ef-ad45-4772-ae6c-c3f46c6aa977.png)

The error might have to do with caching or with different user roles etc. But basically Karen is seeing duplicated trees on her end while Sebastian is not on his end

[2022-06-08 18:30] nmcharlton opened #682 "Capture Detail: Show capture token ID"
In the Capture Details dialog we currently show _Impact token issued_ if the capture has have a valid token ID.
![Screenshot 2022-06-08 at 19 26 08](https://user-images.githubusercontent.com/5558838/172689906-815f9938-d6bc-471e-8b77-bfee06b31f01.png)

Instead, we should show the token ID itself with a copy icon, similar to Grower Identifier.
If no token ID is present, we should still show _Impact

[2022-06-08 19:02] nmcharlton commented on #679
Known issue in the API: Greenstand/treetracker-admin-api#609

[2022-06-08 19:02] #679 closed

[2022-06-09 08:17] sebastiangaertner opened #683 "Verify toool: Can not reject a single capture"
When rejecting a capture there is no indication on progress and nothing is reloading or showing success. Message  showing after many seconds with "Failed to approve a capture"

[2022-06-09 09:44] sebastiangaertner opened #684 "Species loading super slow (verify drop down and species module)"
Since the test data is only showing something like 5 species in production the scaling to 150 species creates some very long loading times. That is in the verify species drop down and also in the species list.
In the species module list view the calculation of how often an id has been assigned slows it down.
in the verify tool the drop down loads slowly because of ?????

[2022-06-09 10:00] a-marquez commented on #675
I've made healthy progress on the UI portion of this, I will create a draft PR for review and for questions I have.

[2022-06-09 19:21] gwynndp opened #686 "Fix way of filtering for "All" values in Earnings Table filter"
This is a risky way of spotting that all values should be included.
If a user wants to filter by a grower name that starts with or contains "all", we will ignore the value and return all growers.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/625#discussion_r889703220_

[2022-06-09 20:01] nmcharlton commented on #684
We run a single request to populate both lists.
Historically, it proved quicker to request the list of species and calculate capture counts in one request, but it hasn't scaled well, taking over 20s to complete for the 142 species we have now.

I think it may help to create an index on the public.trees table with `species_id` and `active` columns.

[2022-06-10 00:45] Tanvir-rahman commented on #682
Hello @nmcharlton. I am looking into the issue. Will you please assign it to me? Thanks.

[2022-06-10 09:49] sebastiangaertner commented on #684
That sounds good. 2 weeks ago we had only max of 80000 assigned species and now we have half a million

[2022-06-11 20:08] nmcharlton commented on #684
This is being addressed in Greenstand/treetracker-database#104

[2022-06-11 20:17] nmcharlton commented on #683
@sebastiangaertner I haven't been able to reproduce this issue so far. Next time you see it, can you check the Network tab in the browser developer console and report the error here?
I wonder whether it's a transient issue with the gateway that we've seen occasionally in the past (503 error).

[2022-06-12 12:10] #682 closed

[2022-06-12 12:21] #660 closed

[2022-06-12 12:22] #379 closed

[2022-06-14 15:49] ZavenArra opened #691 "Release earnings tool frontend into production"

[2022-06-14 16:50] ZavenArra commented on #683
Seb reports this only happens for the first one in a session.

[2022-06-14 16:51] sebastiangaertner commented on #683
<!doctype html><html lang="en"><head><meta charset="utf-8"/><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/><meta name="theme-color" content="#000000"/><link rel="manifest" href="/manifest.json"/><link rel="shortcut icon" href="/favicon.ico"/><link rel="apple-touch-icon" href="/logo_192x192.png"/><title>Treetracker Admin by Greenstand</title><script async src="

[2022-06-14 16:59] sebastiangaertner commented on #683
![Image](https://user-images.githubusercontent.com/3283800/173634402-3d79ff76-bbcf-444a-967b-31bb562d055e.png)
![Image](https://user-images.githubusercontent.com/3283800/173634403-c8c8faaf-5501-4693-956d-113743dc4a5d.png)

[2022-06-14 17:54] ZavenArra commented on #158
This issue is heavily related to display of all grower sessions, and can't be resolved until the UI for session display is designed and implemented.

[2022-06-14 18:18] ZavenArra commented on #683
https://stackoverflow.com/questions/57477805/why-do-i-get-fetch-failed-loading-when-it-actually-worked ??

[2022-06-14 18:25] ZavenArra commented on #683
@sebastiangaertner We are thinking this is a bug in your web browser.   What version of Chrome(?) are you using?

[2022-06-14 19:55] nmcharlton commented on #673
Hey @Tanvir-rahman. The Admin Panel API is built on [LoopBack 4](loopback.io), so queries use the `where` filter format defined [here](https://loopback.io/doc/en/lb4/Where-filter.html).

We have an open issue on the API (Greenstand/treetracker-admin-api#610) to make the LoopBack API explorer work with the custom Express auth layer.

It's not ideal, but you can browse the controllers (https://githu

[2022-06-15 07:13] Tanvir-rahman commented on #673
Thanks a lot for the info. It was really helpful. Pushed the PR.

[2022-06-15 18:00] nmcharlton commented on #158
In the meantime, we can do a quick fix for this to just display the `organization` we have available in the Grower object (the value entered by the grower when they signed up).

For now, it's needed as a visual check when selecting the corresponding Organization from the dropdown.

[2022-06-15 19:02] #691 closed

[2022-06-15 19:15] #684 closed

[2022-06-15 20:27] nmcharlton commented on #683
An issue was identified with the mappings in the API gateway, which has now been resolved.
This appears to have resolved the problem, so I will close this issue. It can be reopened if the problem flares up again and turns out to be caused by the Admin Panel.

[2022-06-15 20:27] #683 closed

[2022-06-15 20:50] sebastiangaertner commented on #683
so far so good. it seems to work nicely now!

[2022-06-15 23:45] OGreeni opened #695 "Growers: hover popup doesn't go away when clicking on grower details"
Hey, so I recently encountered this bug:

![image](https://user-images.githubusercontent.com/87455082/173960408-4b0a05a6-db06-4971-911d-51a7350d4159.png)

The hover popup on the grower profile persists even when clicking on the user's profile, which I believe isn't the intended behavior. The popup is still clickable and goes away once clicked.

[2022-06-16 06:40] Tanvir-rahman commented on #359
Hello @nmcharlton. Is the issue still open?
In growers page, i am seeing details on click. Or are you referring to other screen?

[2022-06-16 06:45] Tanvir-rahman commented on #366
Can i work on this issue?

[2022-06-16 06:57] nmcharlton commented on #359
Hi @Tanvir-rahman. This is still open. It refers to the _Capture Matching_ tool rather than _Growers_.
I'd suggest holding off on this one for now. It will be easier once we've completed some other work to move all the tools across to our new microservices.

[2022-06-16 19:36] nmcharlton commented on #695
duplicate of #664

[2022-06-16 20:10] #597 closed

[2022-06-16 20:57] #158 closed

[2022-06-17 02:11] OGreeni commented on #695
Currently working on a fix

[2022-06-17 06:18] SuspenseFallback commented on #443
I also have an issue while running `npm install`:

[code]

[2022-06-17 06:30] SuspenseFallback opened #696 "Conflicting versions of webpack during installation"
When I run `npm install`, I get this error:

[code]

I'm on a Mac, and my fork is up-to-date.

[2022-06-17 06:38] SuspenseFallback commented on #696
Using yarn fixes this issue. Sorry!

[2022-06-17 06:38] #696 closed

[2022-06-17 08:52] SuspenseFallback commented on #357
Working on it.

[2022-06-17 09:01] SuspenseFallback opened #697 "Webpack dependency conflict when using npm"
I get this log when I use npm:

[code]

I'm on a Mac, and my fork is up-to-date.

[2022-06-17 16:52] aalejandrino commented on #697
I ran across this issue as well.. I ran "npm install --legacy-peer-deps --force” and I was eventaully able to run the admin-client with “npm start”
However, I’m not sure if this is the ideal solution and if there will be any issues while using the client?

[2022-06-18 02:48] SuspenseFallback commented on #697
No issues visible yet, must run some tests to see if everything works.

[2022-06-18 03:16] camwebb commented on #366
@Tanvir-rahman

As far as I know, yes please! One possible complication is the heavy DB overhead of partial (regex?) searching a very long string (filename).

[2022-06-18 07:44] SuspenseFallback commented on #697
I think running `npm install --legacy-peer-deps --force` once on your machine fixes it, because now this error doesn't appear even after deleting and calling `git clone` again.

[2022-06-18 07:48] SuspenseFallback commented on #697
This solution is very unstable, because when running `npm audit fix` this error comes up again. We have to find a more stable solution.

[2022-06-18 09:32] SuspenseFallback commented on #443
Apparently `Cypress.moment()` was removed, so we need to use a different time-data format library

[2022-06-18 12:07] SuspenseFallback commented on #443
Or we have to update cypress

[2022-06-18 12:39] SuspenseFallback commented on #443
I'm currently working on a solution

[2022-06-18 19:39] OGreeni commented on #695
Hey, submitted my PR

[2022-06-19 03:38] OGreeni opened #699 "Account: change password modal shrinks on input"
Before:
![image](https://user-images.githubusercontent.com/87455082/174464690-1d658e08-d633-4a8e-827d-b2c61d950250.png)
After:
![image](https://user-images.githubusercontent.com/87455082/174464695-f6ed4607-114a-47f9-8d0d-31caa8ee4ac2.png)

The modal returns to its original width once the field is cleared. This happens specifically with the "new password" field -- the other two don't experience thi

[2022-06-19 03:52] OGreeni opened #700 "Migrating to React Router v6"
Should we migrate to React Router v6? The backward compatibility package allows running both v5 and v6 simultaneously, making the transition easier.

[2022-06-19 12:54] #369 closed

[2022-06-19 13:04] nmcharlton opened #701 "Disable Grower tooltips for placeholder cards"
When a user opens a new page in the Growers tool, they see a set of grey placeholder cards while the data loads.
Currently, if they hover over one of these, they see an empty tooltip.

We don't need this tooltip – one option is to disable pointer events for the placeholder cards in CSS.
<img width="517" alt="Screenshot 2022-06-19 at 14 02 41" src="https://user-images.githubusercontent.com/5558838/

[2022-06-19 13:08] #664 closed

[2022-06-19 13:08] #695 closed

[2022-06-19 14:55] kvaithin opened #702 "README documentation update."
The documentation suggests to use `npm install` but it doesn't work.
Throws the error below.

It works fine when we use `yarn` followed by `yarn start` instead.
Suggest to update the README docs to reflect this.

I could add a PR to update this in docs. Or do advice if `npm install` is meant to work too.

Using node v16.

[code]

[2022-06-19 15:00] kvaithin commented on #701
Hi, wanted to attempt a fix for this issue.
How can I get the name for this organisation to join the Slack channel `admin_panel_chat`?
Or could I get a link to join the channel.

Looking to obtain the login credentials from there.

[2022-06-19 20:40] nmcharlton commented on #701
Hi @kvaithin, that's great.
Follow this link to join our Slack: https://join.slack.com/t/greenstand/shared_invite/zt-1awc8lf2f-Gk5BcEIqXIUaq7_leFhg_w

[2022-06-19 21:03] kidwizard42 commented on #293
I'd like to work on this issue, is there any particular way y'all want the date range filter added style wise? Is  placing it next to the original filter fine?

[2022-06-20 10:15] sebastiangaertner opened #703 "GENDER. One of the most important requirement by Freetown is to show gender percentage in planters"
In order to show this we need to have 3 genders. male/female/neutral. This is a critical requirement!

[2022-06-21 12:35] SuspenseFallback commented on #443
I have opened a pull request with a fix.

[2022-06-21 18:30] gwynndp commented on #703
Ultimately we will want to have the UX for assigning gender become a part of the Stakeholder tool, but until we have a way of verifying growers as Person Stakeholders there won't be a way to tie the gender data to grower accounts.

Temporarily we can add a field for gender to the planter table in the old API.  Then it can be related to growers in the new api, and ultimately to the Stakeholders.

T

[2022-06-23 11:24] SuspenseFallback commented on #699
Is the expected behaviour to be wider or narrower?

[2022-06-23 18:23] OGreeni commented on #699
I believe it should be wider. The password strength indicator is causing the issue.

[2022-06-23 21:51] andres039 commented on #699
Hi, I also would like to work on the issue if that's possible, thank you.

[2022-06-24 10:34] SuspenseFallback opened #707 "cypress/fixtures/login.json doesn't exist"
`cypress/support/pages/LoginPage.js` has an import to:

[code]

which doesn't exist, and it causes an error in most testing files.

[2022-06-26 17:13] OGreeni opened #709 "Verify: removing additional tags doesn't work"
Currently, pressing the remove button next to a tag in the 'additional tags' field doesn't remove the tag. Instead, after pressing, we need to click on the blank space in the input field to trigger the removal.

https://user-images.githubusercontent.com/87455082/175825825-ca658788-63c0-4476-891e-356a2a70ba0e.mp4

[2022-06-26 17:14] OGreeni commented on #709
I believe I can work on this, if you could assign this to me

[2022-06-27 19:22] jeremydthomas commented on #702
@kvaithin unfortunately for npm currently, you must use ```npm install --legacy-peer-deps```. I made a PR that updated all of this and should fix this problem. Just waiting on someone to look at it, I think @nmcharlton said he was out for the week or something.

[2022-06-27 22:16] gwynndp opened #711 "Pre-populate relation id based on the organization name"
Perhaps we should try to pre-populate this based on the organization name.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r889707422_

[2022-06-27 22:19] gwynndp opened #712 "Create dropdown of names for the related stakeholder in Add form"
Is this meant to be the ID for the related stakeholder? If so, this might be more useable as a dropdown.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r889707489_

[2022-06-28 15:06] #443 closed

[2022-06-28 15:06] #707 closed

[2022-06-28 15:24] #673 closed

[2022-06-28 15:43] #699 closed

[2022-06-28 15:57] nmcharlton commented on #700
Thanks @OGreeni, I think that's a good idea.

[2022-06-30 19:20] nmcharlton opened #714 "Verify: Make gallery images taller"
The gallery view used in the Verify tool currently shows previews of tree captures as squares, with the middle of the image in the frame.
<img width="1552" alt="Screenshot 2022-06-30 at 20 08 05" src="https://user-images.githubusercontent.com/5558838/176759586-3a86851e-6f06-4d8d-8ec6-1dcae272a9e8.png">
In many cases, the subject of the photo is at the bottom, outside the centre square.
<img width=

[2022-06-30 19:23] nmcharlton commented on #714
@sebastiangaertner What is your opinion on this proposal?
Would this be disruptive or helpful to the user community?

We could optionally make it another toggle, like the Small/Large image switch.
We could also make Small images the default so there's no loss in the number of images users see on one screen when they open the tool.

[2022-07-01 06:22] sebastiangaertner opened #715 "Earnings tool planter info is not showing correct sub organization"
See attached screenshot. The organization name is always FCC which is not correct.
![Screenshot 2022-07-01 at 09 19 53](https://user-images.githubusercontent.com/3283800/176836224-da48338b-e47b-42d2-a918-b7e91051644b.png)

[2022-07-01 06:23] sebastiangaertner commented on #715
Actually the organization is not showing anything.

[2022-07-01 06:26] sebastiangaertner opened #716 "Earnings tool: Filter do not work"
See attached. Seems none of the filters is working.
![Screenshot 2022-07-01 at 09 25 34](https://user-images.githubusercontent.com/3283800/176836823-b58aafc3-03b6-4ed2-9af0-1c92edcb74ab.png)

[2022-07-01 08:10] sebastiangaertner opened #717 "Earnings tool: Add grower name and organization names to csv export"
Some additional information in the csv file should/could be: Planter names, organization name
![Screenshot 2022-07-01 at 11 07 57](https://user-images.githubusercontent.com/3283800/176853544-92ded7eb-b66c-4e35-b253-da457f3cc313.png)

Does the external processing mechaism have access to the API to get the planter name through the worker_id ? Is the worker_id representing the grower_id ?

[2022-07-01 08:19] sebastiangaertner commented on #293
@kidwizard42 how is it going with the date range filter?

[2022-07-01 13:30] kidwizard42 commented on #293
@sebastiangaertner The MUI component [dateRangePicker](https://next.material-ui-pickers.dev/demo/daterangepicker) I was planning on using are now unavailable to use. I will be looking at other options later today/tomorrow.

[2022-07-02 02:32] dadiorchen commented on #717
THese data come from stakeholder, you can verify it from the db, the work_id is stakeholder id, and the name is from stakehouler.first_name & last_name

[2022-07-02 10:22] nmcharlton commented on #716
@sebastiangaertner Is this on the test or production instance?
I don't see any Earnings records in production with Organization set to anything (`sub_organization` in the DB/API), only Funder.

[2022-07-02 10:46] nmcharlton commented on #701
Hey @kvaithin. Have you been able to make any progress on this issue? Please ask if you need any assistance.

[2022-07-02 11:43] nmcharlton commented on #608
@dadiorchen @Tarek-Bohdima Can this be closed? It appears to be working in production.

[2022-07-02 11:44] nmcharlton commented on #606
@dadiorchen @Tarek-Bohdima Can this be closed?

[2022-07-02 12:02] nmcharlton opened #718 "Earnings: Filter by specific organization then all organizations breaks loading"
Steps to reproduce:

1. Open Earnings tool
2. Open Filter
3. Select any value for Organization and press Apply
4. Open Filter again
5. Select _All_ for Organization and press Apply
6. Results don't load

There are two problems here that need fixing:

1. We are passing an invalid value for `sub_organization` in the query. Instead, that parameter should be omitted.
2. We do not correctly handle the

[2022-07-02 12:11] nmcharlton opened #719 "Improve Account page styling"
The layout and styling of the Account page in the Admin Panel would benefit from some tidying up.
This would be a great task for someone with a keen eye for design.
<img width="1552" alt="Screenshot 2022-07-02 at 13 07 18" src="https://user-images.githubusercontent.com/5558838/177000110-cafe8d0a-8357-4815-81b9-4fae565eef53.png">

[2022-07-02 17:21] Tarek-Bohdima commented on #608
@nmcharlton the payment filter problem in #629 was closed as duplicate and kept here, but it is not resolved yet as i tested it now.
Problem : in Payments :
Steps to reproduce:
- Click on Filter
- Organization : choose any one
- Apply -> keep loading and nothing shows
- Click on Filter again
- Reset -> Nothing happens
- Refresh page is the only solution

[2022-07-02 17:23] Tarek-Bohdima commented on #606
@nmcharlton same answer i gave in #608 but i like to add that the Filter changed since then and there is no filter by payment type

[2022-07-02 19:36] nmcharlton commented on #608
Thanks @Tarek-Bohdima

It looks like pressing Apply or Reset in the filter adds unsupported parameters to the API query (`GET https://test-k8s.treetracker.org/earnings/earnings`), triggering a 422 error (Unprocessable Entity):
[code]

We should also handle the error more gracefully so the user isn't left waiting for something to happen (see #718 for a similar bug in the Earnings tool).

[2022-07-02 20:33] FrancoFrancis commented on #719
would love to do that

[2022-07-02 20:40] nmcharlton commented on #719
Fantastic, thanks @FrancoFrancis! I've sent you a link to our Slack.

[2022-07-02 20:46] FrancoFrancis commented on #719
ok awesome

[2022-07-03 00:05] kvaithin commented on #701
@nmcharlton Apologies. Was looking into it.

Under `src/components/Growers/Growers.styles.js` there is already styling for placeholder where it is indicating
`pointerEvents: 'none',`.

But this has no effect. Whereas if I got up 2 levels and add `pointerEvents: 'none'`, it works.

In code, this is fixable by adding the following under `src/components/Growers/Growers.js`.

[code]

Existing placeHol

[2022-07-03 00:12] kvaithin commented on #702
Thanks @jeremydthomas. `npm install --legacy-peer-deps` works meanwhile. Closing issue.

[2022-07-03 00:12] #702 closed

[2022-07-03 04:56] Rishabh770777 commented on #719
Is it still open to contribution? I would love to help.

[2022-07-04 07:02] nmcharlton commented on #701
@kvaithin That sounds good thanks to me

[2022-07-04 18:50] nmcharlton opened #720 "Captures: Include capture tags in export"
Currently, capture tags are loaded for captures in a separate query and are not included when exporting data since the export function only queries the `trees` endpoint.

In the long term, post-domain-migration world, we should include capture tags in the capture query API to limit the translation in the browser.

~In the short term, we could do the mapping at the same time as we currently map spe

[2022-07-04 19:25] nmcharlton commented on #718
Thanks @kasmediautam! I've added you to the #admin_panel_chat channel in Slack to get the development credentials for the Admin Panel.

[2022-07-04 20:24] nmcharlton opened #721 "Growers: Add a public facing About field to the Grower"
Add an _About_ section for each Grower:

- Display the text in the _Grower Detail_ dialog
- Add a multiline text edit to _Edit Grower_ dialog (limited to 200 characters)

This issue has a dependency on the migration of the Growers tool to treetracker-api and the `about` field being added to that API (https://github.com/Greenstand/treetracker-api), but work on the UI can start with a stubbed out in

[2022-07-04 20:25] nmcharlton commented on #669
Other half of the original issue split into #721 due to different dependencies and complexities

[2022-07-04 20:36] nmcharlton commented on #721
- API dependency: Greenstand/treetracker-api#94
- Refactoring dependency: #680

[2022-07-04 23:56] jeremydthomas commented on #357
@nmcharlton I'll finish this after the fourth here, I must have broke something rebasing. I'll start over from scratch.

[2022-07-05 17:25] gwynndp commented on #715
@Kpoke We'd like to be able to see the organization name/id for each row in the earnings table in production.  Is that data available to Earnings in the production environment?  Is it in the Stakeholders table?

[2022-07-05 20:39] nmcharlton commented on #717
All of the required fields are available to the Earnings tool already. They just need to be added to the export.

[2022-07-05 20:43] nmcharlton commented on #716
To be monitored – currently seems to be working ok.

[2022-07-05 21:11] nmcharlton commented on #669
Duplicate of #272

[2022-07-06 20:52] gwynndp opened #723 "Stakeholders: Change "Not set" in filters to "All""
'Not Set' may be a little confusing – we use it elsewhere to mean show only records with null/empty values in this field.

Make the default "All" instead

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r889707958_

[2022-07-06 20:52] gwynndp opened #724 "`undefined` isn't handled properly in `api/stakeholders.js` – it only omits filters set to `''`."
`undefined` isn't handled properly in `api/stakeholders.js` – it only omits filters set to `''`.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r896060179_

[2022-07-06 20:54] gwynndp opened #725 "`first` and `second` might be `null` or `undefined` in Stakeholders Table"
`first` and `second` might be `null` or `undefined` here.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r896067278_

[2022-07-06 20:54] gwynndp opened #726 "`filter` always has a complete set of keys with empty string values by default, so this always shows a button."
`filter` always has a complete set of keys with empty string values by default, so this always shows a button.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r896070247_

[2022-07-06 20:56] gwynndp opened #727 "The map name needs to be prefixed with `REACT_APP_WEBMAP_DOMAIN` in the link."
The map name needs to be prefixed with `REACT_APP_WEBMAP_DOMAIN` in the link.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r911379941_

[2022-07-06 20:57] gwynndp opened #728 "This should open in a new tab."
This should open in a new tab.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r911380422_

[2022-07-06 20:57] gwynndp opened #729 "This should open in a new tab."
This should open in a new tab.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r911380422_

[2022-07-06 20:59] gwynndp opened #730 "If we're making this a delete function rather than unlink, let's use a trash icon."
If we're making this a delete function rather than unlink, let's use a trash icon.
If deletion is just a placeholder for unlinking, can you add a comment to explain what's happening here?

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r911393284_

[2022-07-06 21:03] gwynndp opened #731 "Stakeholders: Make child rows more visually distinct"
I think we need more visual distinction for child rows. Sorting in particular feels strange when child rows look more or less like their parents.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r911414916_

[2022-07-06 21:04] gwynndp opened #732 "If `isEditing` is true, show a warning before closing to prevent users losing unsaved changes."
If `isEditing` is true, show a warning before closing to prevent users losing unsaved changes.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-client/pull/340#discussion_r911409708_

[2022-07-06 21:07] gwynndp opened #733 "Allow autocomplete in the filter dropdowns"
I'm not sure about the use of dropdowns for these filters; they seem a bit odd from a UX point of view given that each list is quite long.
Perhaps `Autocomplete` would be more appropriate.
To be honest, I'm not sure how useful the filters will be, given we have the more powerful and efficient search facility.

_Originally posted by @nmcharlton in https://github.com/Greenstand/treetracker-admin-cli

[2022-07-08 20:43] nmcharlton opened #734 "Captures: Include Wallet name if capture is tokenized"
When a _capture_ has an associated token, that _token_ is always assigned to a _wallet_.
The _wallet name_ will be added to the captures query API under a separate issue.

The wallet name should be displayed in the Captures list against the capture and _Wallet_ should be added as a filter.

[2022-07-10 10:10] nmcharlton commented on #153
Users with appropriate privileges should be able to apply (and remove) bookmarks via the Captures tool too.

[2022-07-10 10:18] nmcharlton commented on #154
@sebastiangaertner Just revisiting this one.

Currently, verifiers have the option of adding this sort of information as an _Additional Tag_ at the point of approval.

Once we have the ability to _remove_ tags (#675), this may be a workable solution. It's not the most elegant, but supports the use case.

Do you think a dedicated _flag_ facility is required?

[2022-07-10 19:19] Kpoke commented on #715
@dadiorchen where do you think this information should be gotten from, my first thought was to get it from the stakeholder table but then I am seeing a sub_organization field on the earnings table, although that seems to be empty for all of the rows. What do you think?

[2022-07-10 20:10] #357 closed

[2022-07-10 20:32] #718 closed

[2022-07-10 20:36] nmcharlton commented on #295
Organization name should be part of the captures query API.

[2022-07-10 20:53] gwynndp opened #739 "Since unlinking is the same as deleting, review use of "linked" state"
The "linked" state is leftover from a previous iteration where links could be created and removed without creating/deleting a stakeholder.

---------

I don't expect linked to be a state in this way. The `unlink` icon signifies an action to unlink the item from the focussed stakeholder (i.e., delete the relationship). It will always be an `unlink` icon.

_Originally posted by @nmcharlton in https:

[2022-07-10 20:58] nmcharlton opened #740 "Fix Capture Detail dialog appearance while loading"
There are a few minor issues with the appearance of the Capture Details dialog when first opened (from Captures tool):

- Copy buttons are taller than the text next to them, causing jumpyness when they first appear.
- Country field goes from _loading..._ to _Unexpected error_ to _loading..._ to _Country name_ to _loading..._ to _Country name_. It also flickers between _loading..._ and _Country nam

[2022-07-11 01:17] dadiorchen commented on #715
@Kpoke @gwynndp to show the column of sub org on the table is easy because we already have that kind of data in the API response, the annoying part is that the export and import (download and upload the records) is using the same logic, so if we need to add a new column, then we need to handle it too in the download/upload workflow, so this chang will concerns both backend and frontend.

[2022-07-11 06:33] sebastiangaertner opened #744 "Captures download"
The Captures download has to include "lon", "lat" and the "image URL" in the exported data set. We are building a simple QGIS tutorial on how to use your data in a 3rd party program. In order to actually import a usable map we need the 3 additional fields. See attached this is the current data that is exportable.
![Screenshot 2022-07-11 at 09 31 53](https://user-images.githubusercontent.com/328380

[2022-07-11 22:36] Kpoke commented on #715
@dadiorchen I think the request for sub-organization is just to display not necessarily for import/export. Also I went through the sub_organization field in the db and it seems like they are all empty, could that have to do with the airflow job that is populating it?

[2022-07-14 06:12] kasmediautamu commented on #740
Hello @nmcharlton , can I work on this issue?

[2022-07-14 06:14] nmcharlton commented on #740
@kasmediautamu Yes please!

[2022-07-18 06:26] sebastiangaertner commented on #744
We will need this download/export to the base of a tutorial that explains how to get a QGIS map from that data.

[2022-07-18 07:52] Kpoke commented on #717
Is the export making use of the API endpoint provided or is it completely handled on the frontend?

[2022-07-18 20:12] nmcharlton opened #746 "Add species name to Verify tool capture tooltip"
Users need to quickly see what species (if any) has been assigned to captures in the Verify tool.
If `capture.speciesId` is set, species name should appear in the quick-look tooltip that appears when a user hovers over the preview card (`CaptureDetailTooltip`).

Species name is available as a lookup from `speciesContext.speciesList`.
The Material UI `Category` icon should be used.

<img width="430

[2022-07-18 20:47] nmcharlton opened #747 "Add "Any species set" option to Species filter"
Users should be able to filter captures in the Verify and Captures tools to show only those captures that have had species values set. For consistency with the _Tag_ filter, this should be implemented as another option in the Species filter dropdown: _Any species set_

[2022-07-19 00:33] FrancoFrancis commented on #746
would love to be assigned a new task to contribute to

[2022-07-19 01:48] dadiorchen commented on #717
head up:
1. This use the API to generate the export
2. The adding field is possible to impact the following upload operation. @Kpoke

[2022-07-19 12:11] sebastiangaertner opened #752 "stakeholder tool: telephone number needs to be with country code"
trying to enter +255783.... as telephone number throws an error. see attached
![Screenshot 2022-07-19 at 15 09 48](https://user-images.githubusercontent.com/3283800/179747214-712c4c9f-314f-4b2d-8d96-d5a0d4ff09ec.png)

[2022-07-19 12:13] sebastiangaertner opened #753 "Stakeholder tool: Parent not showing"
![Screenshot 2022-07-19 at 15 12 38](https://user-images.githubusercontent.com/3283800/179747546-2b8ebfbb-2388-478c-9763-8492e91e0874.png)

[2022-07-19 12:15] sebastiangaertner opened #754 "Stakeholder tool: clear UX for assigning parents and child relationships"
Is there a clear UX already for this? If not can we put this out there. There has been a couple of new UX designers that could take this on.

[2022-07-19 13:06] Mkhmalech commented on #744
it s done i will create pr soon

[2022-07-19 15:21] Kpoke commented on #717
@dadiorchen  we have to add those fields on the API side alone right?

[2022-07-19 19:40] #711 closed

[2022-07-19 19:40] #712 closed

[2022-07-19 19:46] #728 closed

[2022-07-19 19:46] #729 closed

[2022-07-19 19:47] #661 closed

[2022-07-19 20:05] mayankbucha commented on #734
@nmcharlton can I work on this issue?

[2022-07-19 20:28] nmcharlton commented on #734
@mayankbucha Absolutely!

[2022-07-20 12:19] sebastiangaertner opened #756 "Verification tool and filter tools: Tags need to be organization specific."
Currently organization A will see all tags used that are in the Database entered by unrelated organizations. This is not practical. The list that is generated should only be coming from within the organization.

[2022-07-20 18:55] nmcharlton commented on #756
Duplicate of #620

[2022-07-20 19:12] nmcharlton commented on #620
The `owner_id` field was been added to the `tags` resource in treetracker-api under Greenstand/treetracker-api#85, but is not part of the legacy API. This should be set to the organization `uuid` from the legacy API or the stakeholder `id` once stakeholder-api is in use.

[2022-07-20 19:25] nmcharlton commented on #620
Dependent on Greenstand/treetracker-api#89

[2022-07-20 19:56] #24 closed

[2022-07-21 20:12] nmcharlton commented on #754
@sebastiangaertner Awesome! When a new stakeholder is created, the user can assign a parent, but there's no UX for subsequently linking two orgs.

https://user-images.githubusercontent.com/5558838/180306301-0233e610-8dab-4354-b844-f2687c5373ae.mov

The original proposition was a _Link Parent_ and a _Link Children_ button in the Stakeholder details dialog, but we didn't get as far as a design for w

[2022-07-21 20:25] #744 closed

[2022-07-21 20:28] #717 closed

[2022-07-21 22:52] tranquanghuy0801 commented on #608
@nmcharlton if `organization_id` field is not allow by API, does that mean we should remove that field in Payment Filters?

[2022-07-23 17:34] Marcelovv2 commented on #753
Hi, I'm trying to work on this issue, I have my local environment running, but I can't find the slack channel to get the login. Can someone point me to it? thanks.

[2022-07-24 19:57] #752 closed

[2022-07-24 20:34] #360 closed

[2022-07-24 21:34] daltbunker commented on #747
Hey could I get assigned to this issue? I believe I have a working solution for the 'Any' set in Captures. Looking into doing the same in Verify now.

[2022-07-24 21:53] nmcharlton commented on #753
Hi @Marcelovv2. If you haven't already, you can sign up to contribute to Greenstand using this form: https://docs.google.com/forms/d/e/1FAIpQLSdyLUffLPZZlHR-qfMwch5HkWcZ3kxM6h-eMK5PfGKLD4t8iA/viewform

You'll then get access to Slack. Once you're in, send me a message and I'll add you to the admin_panel_chat channel.

[2022-07-25 06:20] tranquanghuy0801 commented on #723
@nmcharlton can I work on this issue? Also, is that ok to just only remove the `Not Set` option in Stakeholder filters?

[2022-07-25 06:41] nmcharlton commented on #723
@tranquanghuy0801 We just need to rename "Not set" to "All".

[2022-07-25 06:47] nmcharlton commented on #608
Yes. The API instead uses `sub_organization` to filter by org.

[2022-07-25 06:47] #747 closed

[2022-07-25 20:21] nmcharlton opened #761 "Captures: Truncate lat/lon and image URL"
There's no need to display the whole image URL and co-ordinates for captures in the Captures table.
We should truncate the lat and lon (six decimal places is enough) and replace the long image URL with a link (similar to what we have in the Capture Details dialog.

Note that the raw values should still be included in the CSV export.

<img width="779" alt="Screenshot 2022-07-25 at 21 13 52" src="ht

[2022-07-25 21:42] iib0011 commented on #753
Parents are showing.
![Screenshot (343)](https://user-images.githubusercontent.com/58892076/180878864-3d12331e-83f4-4cd2-895f-ff5ff98fa148.png)

[2022-07-25 21:45] #761 closed

[2022-07-25 21:58] Marcelovv2 commented on #753
Hi @iib0011, can you tell me how to reproduce this? thanks.

[2022-07-25 22:01] iib0011 commented on #753
Go to Stakeholders-> Add stakeholder. Fill the form and select a parent. Then search the stakeholder's name you just created

[2022-07-25 22:25] Marcelovv2 commented on #753
@iib0011 Thanks, I wasn't able to add a stakeholder, I tried local and dev, is this where you added?
![image](https://user-images.githubusercontent.com/19412353/180884031-6173f348-4507-457e-979c-bdb9dddf59cf.png)

[2022-07-25 22:27] iib0011 commented on #753
I tried in local

[2022-07-27 19:35] #724 closed

[2022-07-27 19:47] nmcharlton commented on #753
This looks like an issue with the Stakeholder API trying to query the (legacy) `public` schema in the DB and not having permission to do so.
@gwynndp @Kpoke Is this a temporary measure for testing and development? If so, we need to make sure the stakeholder DB user has the appropriate permissions.

[2022-07-27 22:54] Kpoke commented on #753
When DB users are created for schemas, they are set up to have access to that schema alone, so we would have to give the stakeholder DB user access to the entity table. I'll work on it

[2022-07-28 01:01] Kpoke commented on #753
Fixed the issue as regards access to the public schema, at least for the dev environment.

As for the parents not showing, @gwynndp could it be due to the refactor I made on the stakeholder-api? Those parent-children values that I removed?

[2022-07-28 05:21] gwynndp commented on #753
Yeah, originally the stakeholder tool would show the direct parents and children for a stakeholder in the detail view and the data was added in arrays for parents and children.  Any children would also have the parent added, and the parent would have the child added so they reflected each other without getting into recursive calls.

There may be a better way of doing that with one query, or perhap

[2022-07-30 11:40] nmcharlton commented on #253
The related issues have been resolved and reporting cards are now loading quickly.

[2022-07-30 11:40] #253 closed

[2022-07-30 11:48] nmcharlton commented on #611
We can now support this functionality properly following the move to `/api/query/grower-account` for the GrowerDetail drawer, which supports the new grower UUID.

[2022-07-30 12:01] nmcharlton commented on #731
Original design:
![image](https://user-images.githubusercontent.com/5558838/181909825-b5655096-a99d-4153-8544-8d471dfcc14d.png)

Current implementation:
<img width="1552" alt="Screenshot 2022-07-30 at 13 00 07" src="https://user-images.githubusercontent.com/5558838/181909843-fb6ee487-fe19-458f-ae74-00208775598a.png">

[2022-07-30 12:30] nmcharlton commented on #719
Hi @FrancoFrancis – how are you getting on with this issue?

[2022-07-30 14:47] marwan-osama commented on #731
I would like to work on this issue!

[2022-07-30 20:18] nmcharlton opened #766 "Captures: Filtering by multiple Grower IDs gives incorrect results"
## Steps to reproduce
1. Open Captures tool
2. Enter two Grower IDs (select from the Captures list) separated by a comma in the _Grower ID_ filter and press _Apply_
3. Captures from other growers are included in the results.

<img width="1552" alt="Screenshot 2022-07-30 at 21 12 06" src="https://user-images.githubusercontent.com/5558838/181994776-ded46afe-b7b8-4b69-b16a-5502767c24f7.png">

[2022-07-30 21:07] nmcharlton opened #767 "Account: "Change password" buttons are inconsistent with other dialogs"
The standard pattern for dialog buttons in the Admin Panel is [Cancel] [Save] with the latter coloured Greenstand green and disabled until all inputs are valid.
The _Change Password_ dialog in the Account page breaks this pattern.
It should be modified to match other dialogs for a consistent user experience.

<img width="388" alt="Screenshot 2022-07-30 at 22 00 52" src="https://user-images.githubu

[2022-07-31 12:00] marwan-osama commented on #767
I would like to work on this issue!

[2022-08-01 19:24] nmcharlton opened #769 "Display capture `reference_id` instead of `id` across Admin Panel"
**Note: Branch from change-to-microservices**

Following the refactor to use the new microservices, the legacy `id` field is now called `reference_id`.
This is how Treetracker platform users refer to captures and should be displayed everywhere we have a capture ID.
<img width="1552" alt="Screenshot 2022-08-01 at 20 21 33" src="https://user-images.githubusercontent.com/5558838/182229167-2a8c689c-76

[2022-08-01 19:50] nmcharlton opened #770 "Capture Detail: Move URLs to client API layer"
URLs should be abstracted away from components in the API layer.
The Capture Detail dialog queries different APIs depending on where it's opened from, but currently, the containing components pass a URL to the `CaptureDetailDialog` component.

See https://github.com/Greenstand/treetracker-admin-client/blob/change-to-microservices/src/components/Verify.js#L739

Instead, they should pass something l

[2022-08-02 06:03] #731 closed

[2022-08-03 09:30] sebastiangaertner opened #772 "Captures: The export csv does not include Lat and lon yet"
The list has the lat and lon but not the export yet.

[2022-08-04 19:26] nmcharlton commented on #772
@sebastiangaertner Where are you testing this?
Those fields are in the export from the beta environment for me.

[2022-08-04 19:47] nmcharlton commented on #366
Hi @Tanvir-rahman. Have you been able to make any progress on this issue?

[2022-08-04 19:52] nmcharlton commented on #654
@dadiorchen @Kpoke Has there been any discussion about moving forward on reporting for all organizations?

[2022-08-04 20:07] nmcharlton opened #773 "Tidy reporting card titles"
Wording, capitalisation and pluralisation is inconsistent in reporting cards.

The following changes should be made:
* "Grower" -> "Growers"
* "total" -> "Total"
* "Average captures per grower per organization" -> "Average Captures per Grower" (per organization is implied)
* On Species card, "Total" -> "Count"
<img width="1552" alt="Screenshot 2022-08-04 at 20 57 22" src="https://user-images.githu

[2022-08-04 20:36] Kpoke commented on #654
Not yet really, we'd have to update both the airflow dag and the reporting api

[2022-08-04 22:00] muhon9 commented on #773
Will fix it

[2022-08-05 05:48] #773 closed

[2022-08-05 05:50] nmcharlton commented on #773
Sorry @muhon9, @jwardoin  managed to get the fix in quickly on this one.

[2022-08-07 19:15] rutvij2811 commented on #766
Query String Image with multiple IDs:
![image](https://user-images.githubusercontent.com/13500309/183307026-2d5b46d7-82bb-461d-896b-a8e9bb83c284.png)
Query String Image with single ID:
![image](https://user-images.githubusercontent.com/13500309/183307075-5b0fda0e-b147-4d95-8dea-cc4fd0c68d7c.png)

From the initial looks, the issue lies with the "OR" condition put all together.
When there are multip

[2022-08-08 08:29] rutvij2811 commented on #766
@nmcharlton ,
Could you please assign this issue to me? I think now  I am confident about my assumption and I found out where the changes need to be made. Some modifications are required in the Filter.js file in the models directory to handle the "and" and "or" conditions.

[2022-08-08 10:23] nmcharlton commented on #766
Thanks @rutvij2811. That sounds right.
The API query uses LoopBack 4. Check the docs for the spec.

[2022-08-08 20:06] nmcharlton opened #777 "Regions: Allow users to download geojson shapefiles"
Add a _download_ button to records in the Regions table.
The _download_ icon can be inserted before the _edit_ and _delete_ icons.

The endpoint `REGION_API/region/:region_id/shape` returns a downloadable geojson file.

[2022-08-08 20:50] nmcharlton commented on #620
There are a couple more considerations for implementation:

1. For non-org (Greenstand) users, we need a way of indicating which organization a tag is owned by (e.g., a org name prefix in tag lists and chips).
2. As part of the tag migration from the legacy DB schema to treetracker-api, we will need to identify which existing tags should be marked as owned by a specific org and add an `owner_id` t

[2022-08-08 23:15] rohanshankar commented on #777
This would be my first time contributing to an open sourced project. Mind if I give it a try?

[2022-08-09 05:58] nmcharlton commented on #777
@rohanshankar It's all yours!

[2022-08-10 11:43] tranquanghuy0801 commented on #725
Is this issue occurring in file `Stakeholders/Table.js` ?

[2022-08-10 11:48] tranquanghuy0801 commented on #359
Hi @nmcharlton, can I work on this issue?

[2022-08-10 16:23] rohanshankar commented on #777
Is there any documentation on that endpoint?

[2022-08-10 19:48] nmcharlton commented on #777
See https://github.com/Greenstand/treetracker-regions-api/blob/b41ccdcd6403b70e339fd43208c04f7a899e9916/docs/api/spec/region-api.yaml

[2022-08-12 12:10] sebastiangaertner opened #781 "Select for duplicate capture matching check"
In order to be able to find duplicates with the verify tool it would be amazing if we could select 2 or 3 or 4  images and run a simple distance check. Practically a verifier sees trees that are similiar but can maybe not judge if they are duplicates or not. If we had a simple pop up showing the distance between the points that would be a great start.

[2022-08-13 11:51] Hengxin-Liu commented on #686
I will have a look tomorrow

[2022-08-13 18:36] nmcharlton commented on #781
This sounds like a cool feature. It would be great to get some UX design effort on this.

[2022-08-13 18:56] nmcharlton commented on #714
Verifiers have requested that the whole image be visible in the preview card.
We have a mix of 3:4 and 9:16 portrait images coming in (depending on the device used) but need to show the whole image on the preview card in case there is something important round the edges that is missed during tagging. We need a design that accommodates both aspect ratios but offers a smooth visual experience. It ma

[2022-08-13 19:01] nmcharlton opened #782 "Migrate to Material UI 5"
We currently use Material UI 4, which is not fully compatible with React 18.
We need to migrate to version 5.
See https://mui.com/material-ui/migration/migration-v4/ for guidance.

[2022-08-14 05:02] OGreeni commented on #714
Hey @nmcharlton, an alternative would be to use a masonry layout. I.e. something like this:
![image](https://user-images.githubusercontent.com/87455082/184523221-4d54028a-45dd-419b-bda3-a1094d3128b7.png)

[2022-08-14 08:01] nmcharlton commented on #714
@OGreeni That's an interesting idea. It would be good to trial it with users to see what impact it has on the verification workflow.

In particular, how well does it work for ordered sets like ours, and would it support range selection (shift+click)?

[2022-08-14 11:30] muhon9 commented on #714
@OGreeni masonry layout looks wonderful in image gallery and blog posts where order is not very important. Will it be a good idea for our purpose? Still we can have a trial and see the impact.

[2022-08-14 14:41] OGreeni commented on #714
@nmcharlton yes, range selection would be quite difficult to implement with this layout. From a practical point of view, your initial idea of adding whitespace would work best.

[2022-08-14 14:49] OGreeni commented on #714
@muhon9 I'm starting to second guess myself as this layout isn't very ideal for ordered sets. As much as it would create a seamless flow, preserving the order would be difficult.

[2022-08-14 15:33] #723 closed

[2022-08-14 16:25] #359 closed

[2022-08-14 17:46] nmcharlton commented on #725
That's right.

[2022-08-14 18:08] nmcharlton commented on #719
@FrancoFrancis I'm going to unassign this from you so someone else can pick it up.
If you _have_ made a start, let me know.

[2022-08-14 18:08] nmcharlton commented on #719
@Rishabh770777 Are you still interested in picking this up?

[2022-08-14 19:19] marwan-osama commented on #714
I want to work on this issue. I will try to change the aspect ratio of the card to fit 4:3 images by default and have white spaces to the left and right of the 16:9 images. is that ok?

[2022-08-14 19:19] marwan-osama commented on #714
I want to work on this issue. I will try to change the aspect ratio of the card to fit 4:3 images by default and have white spaces to the left and right of the 16:9 images. is that ok?

[2022-08-14 19:27] nmcharlton commented on #714
@marwan-osama That sounds good. Make sure to share a screenshot in the PR so we can compare.

[2022-08-14 20:55] #714 closed

[2022-08-15 02:40] dadiorchen commented on #782
That's a big breaking change, :D

[2022-08-15 03:02] FrancoFrancis commented on #719
@nmcharlton so sorry its taking me so long but im on it at the moment, made a start. Thanks for considering!

[2022-08-15 06:00] nmcharlton commented on #719
No worries. Keep in touch as you make progress, share any designs you put together and consider opening a draft PR to update as you go along.

[2022-08-15 10:54] tranquanghuy0801 commented on #720
Hi @nmcharlton , can I work on this ticket?

[2022-08-15 20:01] OGreeni opened #784 "NPM Dependencies Error"
I've been having issues trying to install npm dependencies:

![image](https://user-images.githubusercontent.com/87455082/184702740-57c5d769-fa89-4215-a1cf-76e7ee1eb25e.png)

[2022-08-16 07:43] dadiorchen opened #785 "Species: The `next page` button is invisible"
I don't if this just happens on my browser:

https://admin.treetracker.org/species

<img width="1440" alt="Screen Shot 2022-08-16 at 3 41 51 PM" src="https://user-images.githubusercontent.com/5744708/184825123-07ab497b-aca8-4f8b-84b9-4bce6cc6d426.png">

[2022-08-16 09:54] marwan-osama commented on #785
It works fine in the local development environment.

https://user-images.githubusercontent.com/64364953/184851435-002c2caf-6ede-4bdc-99fa-159acaec282e.mp4

[2022-08-16 17:48] OGreeni commented on #784
Running `npm ci` also doesn't work for me.

[2022-08-16 19:15] mayankbucha commented on #740
@nmcharlton if this issue is still open, can i work on this?

[2022-08-18 19:36] nmcharlton commented on #785
Pagination only spans the first three columns, so is cropped when those columns are too narrow to accommodate it.
The problem is seen when species descriptions (forth column) are long and reduce the width of the first three columns.
This is the case in production, but not in development.

We need to give pagination controls more space.

[2022-08-18 20:20] #732 closed

[2022-08-18 21:44] #766 closed

[2022-08-20 04:03] OGreeni commented on #784
Thanks, that worked

[2022-08-20 04:03] #784 closed

[2022-08-21 06:43] Vlad-Pischaeff commented on #785
![image](https://user-images.githubusercontent.com/48124219/185779061-fec0788c-f6ed-4f17-838f-1f301def3866.png)

I don't see the problem in dev

[2022-08-21 06:54] Vlad-Pischaeff commented on #785
I suggest you use padding: 6px for better UI

![image](https://user-images.githubusercontent.com/48124219/185779423-a4bd9439-3771-4f04-8282-9b21eb270666.png)

[2022-08-21 14:24] nmcharlton commented on #785
@Vlad-Pischaeff If you can't reproduce it easily, I'd recommend checking things like the browser @dadiorchen is using, what resolution produced this and if there are any hints in the code to why it might not work in all situations.

I'd also suggest using creating species with the same name and description as those seen in the original screenshot to see if that's a factor.

[2022-08-21 17:36] nmcharlton commented on #781
A small map with selected captures plotted would be very simple to add to help visualise this feature.

[2022-08-21 17:38] nmcharlton commented on #781
For someone looking to pick this up, we have a lat/lon for every capture, so calculation should be very straightforward using `getDistance()` from `geolib` (see `/src/components/CaptureMatching/CandidateImages.js`).

[2022-08-21 18:13] nmcharlton commented on #785
The arrow is hidden for me on Chrome in dev:
<img width="1552" alt="Screenshot 2022-08-21 at 19 11 44" src="https://user-images.githubusercontent.com/5558838/185804975-900c64f1-431a-4ec3-8b3c-c1efbf50a41e.png">

[2022-08-21 18:40] nmcharlton commented on #782
@dadiorchen You're right, but it's one we need 😄

[2022-08-21 19:20] nmcharlton opened #786 "Capture Approval Rate reporting card"
Create a new reporting card for the Freetown (and soon to be universal) dashboard that orders growers by the proportion of their verified captures that have been approved (as a percentage with one decimal place) as opposed to rejected.

This should appear after the Top Growers card.

Dependency: Greenstand/treetracker-reporting#51

[2022-08-21 19:27] nmcharlton opened #787 "Prevent species operations from wrapping"
The operation buttons against each species in the Species table can currently wrap if the column is narrow.
They should be prevented from wrapping (in the same way as the User Manager tool).
<img width="1552" alt="Screenshot 2022-08-21 at 20 24 12" src="https://user-images.githubusercontent.com/5558838/185807598-4bdb3f91-e550-45b6-800b-7a6baec5a657.png">

[2022-08-22 04:31] marwan-osama commented on #785
yeah, I am able to see it now, I want to work on this issue.

[2022-08-22 04:33] marwan-osama commented on #787
I would like to work on this issue.

[2022-08-22 05:09] dadiorchen commented on #787
Yes please!

Dadior Chen

在 2022年8月22日，12:33，Marwan osama ***@***.***> 写道：

﻿

I would like to work on this issue.

—
Reply to this email directly, view it on GitHub<https://github.com/Greenstand/treetracker-admin-client/issues/787#issuecomment-1221803811>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ABL2QRDGVKFVDPAQ2AXL3H3V2L7KZANCNFSM57FNX32Q>.
You are receiving this because

[2022-08-23 07:18] Vlad-Pischaeff commented on #754
Dear sirs.
Please discuss getting data from endpoint for stackholders.

1. When we create a new holder, the data is sent in this format

![image](https://user-images.githubusercontent.com/48124219/186093894-9c329ffe-9021-4abd-82af-bf3f0fdc1623.png)

where the relation_id field is present

2. When we get the data from the server, they are already processed and the children do not have this field, a

[2022-08-23 16:49] matthias-dunkel commented on #782
I can work on this.

[2022-08-23 22:31] matthias-dunkel commented on #697
The dependency [cypress-react-unit-test](https://www.npmjs.com/package/cypress-react-unit-test)is deprecated. The new package would be [@cypress/react](https://www.npmjs.com/package/@cypress/react)

[2022-08-23 22:38] andres039 commented on #746
Hello everyone, I think I have solved this issue, I just did a Pull Request, I hope it works. Thank you.

[2022-08-24 21:22] mayankbucha commented on #740
@nmcharlton country name glitch seems to be resolved by the above pr. But, I cannot figure out why the country name was getting rendered twice. And why `useMemo()` was used specifically only for the country name property.

[2022-08-25 05:05] Vlad-Pischaeff opened #797 "Captures: Prevent event bubbling"
Сlicking a link "Open in new tab" (http://localhost:3001/captures)

![image](https://user-images.githubusercontent.com/48124219/186578877-deb1cd62-2b2c-4dc5-b12b-6cb265affaff.png)

causes a click event on a row

![image](https://user-images.githubusercontent.com/48124219/186579177-af2a2dae-327b-4814-9ada-75401146cdaf.png)

![image](https://user-images.githubusercontent.com/48124219/186579306-34052

[2022-08-25 05:36] Vlad-Pischaeff opened #798 "Captures: unnecessary network queries"
If you click on the row, then try to resize the window, there are many queries that are not necessary

![image](https://user-images.githubusercontent.com/48124219/186583127-c789b50d-2a84-4e48-addf-d5172ac17de6.png)

![image](https://user-images.githubusercontent.com/48124219/186583159-a5a92e42-6cbc-4067-9b27-00257cae7118.png)

[2022-08-25 05:41] Vlad-Pischaeff opened #799 "Captures: unnecessary horizontal scroll"
After resize window unnecessary horizontal scroll appears

![image](https://user-images.githubusercontent.com/48124219/186583855-a3ff32d1-c7f5-4397-b20c-b9ba0dcc9ce7.png)

[2022-08-25 20:26] mayankbucha commented on #797
I would like to work on this issue.

[2022-08-26 04:06] Vlad-Pischaeff commented on #797
Ok

[2022-08-27 01:52] amesk3 opened #802 "Compiling with problems"
![image](https://user-images.githubusercontent.com/12309592/187009626-ab5cda9e-75e9-4236-8fff-f9ed00e0abce.png)

While onboarding on the Admin panel UI side, I followed the documentation on onboarding and I came across this issue.

[2022-08-27 08:04] #787 closed

[2022-08-27 08:15] #703 closed

[2022-08-27 08:25] #726 closed

[2022-08-27 08:29] #740 closed

[2022-08-27 08:34] nmcharlton commented on #740
I believe @Vlad-Pischaeff has addressed the country issues in #798

[2022-08-27 13:09] matthias-dunkel commented on #802
Try this:
- Delete `node_modules` folder and `package-lock.json` file and run `npm install` (maybe you need to run it like this `npm install --force --legacy-peer-deps`
OR
- Check if crypto is in the package.json file. If not add `"crypto": "npm:crypto-browserify"` to the dependencies array in the `package.json file`

[2022-08-27 13:46] matthias-dunkel opened #804 "Migrating to Cypress to version 10.x from version 9.5.0"
We should migrate Cypress to version 10.x to support React v18.x and to use the newest features of cypress.

I would suggest to remove Cypress from the master branch, so we can use React v18.x and MaterialUI v5 and react-router v6.

I would re-introduce Cypress later with the version 10.x.

[2022-08-27 14:18] matthias-dunkel opened #805 "Several Package for handling Dates?"
I am a bit confused. We are using several different Packages handling dates:
- moment
- dateformat
- datefns
- @date-io/date-fns

I think we should reduce this to one package.

[2022-08-28 06:45] #719 closed

[2022-08-28 10:01] #799 closed

[2022-08-29 04:29] Vlad-Pischaeff opened #808 "Species: Warning while render component"
![image](https://user-images.githubusercontent.com/48124219/187123296-d573ca44-853f-4316-9959-c730aa3ffb31.png)

[2022-08-29 11:10] Vlad-Pischaeff opened #809 "Stakeholders: Empty default organization icon on card"
![image](https://user-images.githubusercontent.com/48124219/187188264-ef40d7fa-aee6-45eb-86eb-4b5655bf5a27.png)

[2022-08-29 13:02] #785 closed

[2022-08-29 14:11] nmcharlton commented on #754
@gwynndp @Kpoke Are you able to respond to @Vlad-Pischaeff's proposal?

[2022-08-29 14:12] nmcharlton commented on #804
Thanks @matthias-dunkel, that sounds sensible to me.

[2022-08-29 16:02] amesk3 commented on #802
I've tried the above and still wasn't able to pull it up successfully, unfortunately. Is there no webpack file for us to tweak? I know create-react-app was used so not sure it is available to customize.

[2022-08-29 22:05] muhon9 commented on #809
<img width="737" alt="Screenshot 2022-08-30 at 4 02 48 AM" src="https://user-images.githubusercontent.com/79197160/187307062-10112ca3-0e20-4646-b63e-a1591dbce1e8.png">

Do we need to show the default greenstand iconlogo if there is no data.logo_url available? @nmcharlton

[2022-08-30 16:00] nmcharlton commented on #802
@amesk3 What versions of npm and node are you using?
We've had this issue reported before, but thought we'd addressed it by adding the following dependency to `package.json`:
[code]

Can you try adding a browser section to `package.json`:
[code]

[2022-08-30 16:05] amesk3 commented on #802
@nmcharlton npm is 6.14.8 and node is v16.14.2 on my machine.

I also tried putting in the browser section as well, no dice :(

[2022-08-30 16:21] nmcharlton commented on #802
@amesk3 Those look like incompatible versions to me. Node v16.14.2 should use at least npm 8.5.0.
It's best to use [nvm](https://github.com/nvm-sh/nvm) to manage node versions (if you're not already). Running `nvm use 16.14.2` should switch your npm version to something compatible.

[2022-08-30 16:33] amesk3 commented on #802
That worked for me! Thank you!

[2022-08-30 16:33] #802 closed

[2022-08-30 18:30] #797 closed

[2022-08-30 18:33] #808 closed

[2022-08-31 05:23] Vlad-Pischaeff opened #811 "Growers detail: Annoying norizontal scrollbar"
Styling is needed to eliminate horizontal scrollbar

![image](https://user-images.githubusercontent.com/48124219/187598644-8297a94d-1c03-45fa-ac91-1cafe95381dc.png)

[2022-09-01 03:48] Vlad-Pischaeff commented on #805
Let me try it

[2022-09-02 17:45] #811 closed

[2022-09-02 18:28] #805 closed

[2022-09-03 09:28] Vlad-Pischaeff opened #814 "Grower edit: some growers has more than one picture"
![image](https://user-images.githubusercontent.com/48124219/188264609-462dc7c2-efaf-46ae-8615-d93c6d3b5365.png)

[2022-09-03 17:34] nmcharlton commented on #814
@Vlad-Pischaeff This is by design. This dialog allows users to select the best picture for a grower from all of those submitted through the Treetracker app at the beginning of tracking sessions.
Admittedly, the UX is not the most intuitive; I'd like the _Edit Grower_ function to be redesigned as an inline edit in the Grower Detail drawer to avoid this layered dialog effect.

Perhaps in Edit mode,

[2022-09-03 17:37] nmcharlton commented on #809
I think a generic placeholder logo would be best. This could a greyscale Greenstand logo.

[2022-09-03 17:41] nmcharlton opened #816 "Capture Details: Previous capture appears while new selection loads"
## Steps to reproduce
1. Open capture details for a capture from the Verify or Captures tool
2. Wait for the image to load and close the dialog
3. Open the dialog for another capture
4. Many of the first capture's details (including the image) appear while the new capture loads

https://user-images.githubusercontent.com/5558838/188282201-09e0613c-c38e-471d-98c4-be0548e5a81e.mov

## Desired behavio

[2022-09-03 19:45] #746 closed

[2022-09-04 07:43] marwan-osama commented on #809
I would like to work on this issue.

[2022-09-04 07:44] marwan-osama commented on #816
I would like to fix this issue.

[2022-09-04 13:20] nmcharlton opened #818 "Only allow access to Verify tool for users with `approve_tree` or `super_permission` policies"
We currently allow users with only the `list_tree` policy in their role(s) to access the Verify tool and perform verification.

The Verify tool should only be visible to those with `approve_tree` or `super_permission` policies.
Verification is not blocked by the API yet, but will be when the new Keycloak integration is in place.

[2022-09-04 13:26] nmcharlton commented on #777
Hi @rohanshankar. Have you been able to make any progress on this issue?
Let me know if you have any questions.

[2022-09-04 13:27] nmcharlton commented on #769
@gwynndp Did you say you've been working on this one?

[2022-09-04 13:38] #809 closed

[2022-09-04 13:47] nmcharlton commented on #730
Also see #739

[2022-09-04 14:00] nmcharlton commented on #620
Assigning this to @Vlad-Pischaeff

[2022-09-04 14:51] nmcharlton opened #819 "Capture verification status displays "Approved" for unapproved captures"
<img width="718" alt="Screenshot 2022-09-04 at 15 47 24" src="https://user-images.githubusercontent.com/5558838/188319623-5f98498b-8b49-419f-81f2-c2c55095880e.png">

[2022-09-04 16:26] nmcharlton commented on #668
@sebastiangaertner @dadiorchen Can we close this one now? Data looks consistent from what I can see.

[2022-09-04 16:27] nmcharlton commented on #686
@Hengxin-Liu Have you been able to make any progress on this? Let me know if you need any help.

[2022-09-04 21:48] mayankbucha commented on #819
@nmcharlton I Would like to work on this issue.

[2022-09-05 00:00] amesk3 commented on #781
@nmcharlton and @sebastiangaertner,  I can pick this up.

Before I get started, I just wanted to make sure on the ask:
We want a distance check between the 2-4 selected images and possibly visualize that on a map to catch possible duplicates.

My questions are:
1)Would we want to check the distances between each image against the others (so if there were 4 selected, there would be 6 different dist

[2022-09-05 10:33] ar563 opened #820 "upstream dependency conflict"

[2022-09-05 14:27] Hengxin-Liu commented on #686
Yes I have already known the problem it is I will fix it on Thursday and Friday this week, sorry I am a little busy recently.

[2022-09-05 15:15] gwynndp commented on #769
Yes!  I updated the microservices branch first.  I'll work on this one today.

[2022-09-05 16:13] nmcharlton commented on #686
No problem at all. Thanks for your efforts in this.

[2022-09-05 17:01] nikiatoll commented on #818
I'd love to start working on this, can you point me in the right direction?

[2022-09-05 20:15] nmcharlton commented on #819
Sorry @mayankbucha, I should have assigned this to @gwynndp originally. It's now been fixed.

[2022-09-05 20:16] gwynndp commented on #769
Looks like the work is done already.  The uuids still showing are grower account ids.

[2022-09-05 20:17] gwynndp opened #823 "Date bug prevents Messaging tool from loading"
The messaging tool is currently loading a blank page.
This error is in the console:

https://monosnap.com/file/y4X70AG9CGa5I3IvKecwfHdpHWOx1e

[2022-09-05 21:04] mayankbucha commented on #816
@nmcharlton I would like to work on this.

[2022-09-05 21:04] nmcharlton commented on #816
Thanks @mayankbucha

[2022-09-05 21:33] nmcharlton commented on #818
Hey @nikiatoll. If you haven't already, you can sign up as a Greenstand contributor here: https://docs.google.com/forms/d/e/1FAIpQLSdyLUffLPZZlHR-qfMwch5HkWcZ3kxM6h-eMK5PfGKLD4t8iA/viewform

[2022-09-06 15:54] sebastiangaertner commented on #781
@Kpoke meet @amesk3 . I have given Amy a dataset from the legacy DB and as discussed it would make more sense to get this tool developed off the treetracker schema rather. @amesk3 reach out to Daniel to coordinate the data structure to be sure that it reflects the upcoming Domain model migration. We can add this data into dev if we change planter_id and the coordinates by a small value (always the

[2022-09-08 00:46] andres039 commented on #777
Hi @nmcharlton and @rohanshankar, I found this particular issue very interesting since I've never worked with downloadable files. I think I have a working solution, but I was wondering if the structure of my code is right and meets the requirements, I can do a pull request if you guys like to look at it and maybe give some suggestions ( if @rohanshankar has time we could even pair-program on it).

[2022-09-12 19:28] marinakosova commented on #816
I created a pull request for the issue. This is my first contribution so please let me know how can I improve it.

[2022-09-13 14:37] nmcharlton commented on #781
Hi @amesk3. Sorry for the delay.

What do you think of a simple label with beneath the _Select All_ and _Select None_ buttons?

It could state the greatest pairwise distance of up to four captures (or some reasonable limit given O(N!) computation time), then grey out when too many are selected.

Perhaps when one capture is selected, we could also include the distance to that capture in the quick-l

[2022-09-13 17:15] elyselam commented on #721
Assigning to myself

[2022-09-13 17:15] sebastiangaertner commented on #721
Here is the new web map where the grower info will be shown
https://prod-k8s.treetracker.org/web-map-beta/demo/top

[2022-09-13 17:19] sebastiangaertner commented on #721
![Screenshot 2022-09-13 at 20 18 27](https://user-images.githubusercontent.com/3283800/189965853-36693e8c-b089-4ddd-a5bb-6d16bee53d31.png)
treetracker.grower_account.about

[2022-09-15 09:45] #820 closed

[2022-09-16 07:22] sebastiangaertner opened #828 "Need for a view only user role to see data in the admin panel"
Would it be possible to get a read only user?

list_trees user role still allows to approve captures.

[2022-09-16 20:19] nmcharlton commented on #192
See the Upload feature in the Payments tool for guidance on how this could be done.

[2022-09-16 20:23] nmcharlton commented on #192
Here's the Edit Grower dialog where this should be implemented.

<img width="1552" alt="Screenshot 2022-09-16 at 21 19 44" src="https://user-images.githubusercontent.com/5558838/190726246-8295357c-8185-4ab5-9490-c54d3b5e9264.png">

[2022-09-17 16:38] nmcharlton commented on #667
For context, this is how we currently display an unmatched capture.
<img width="1552" alt="Screenshot 2022-09-16 at 21 34 40" src="https://user-images.githubusercontent.com/5558838/190728942-29778f5b-e986-416c-904f-8dfdcd203092.png">
In addition to the capture ID, time and location we need to display the contents of the `note` field for the capture (if not empty). This note is a string with no max

[2022-09-17 22:23] amesk3 commented on #781
Hi @nmcharlton , no worries- I was just plugging away!
I thought of doing it that way with the pairwise distance before, but after speaking to @sebastiangaertner on the UX side of things, and we both agreed that just giving the distance (without any context) might not be super intuitive, and thought doing it visually (way you suggested before) might work better. I'm adding a screen capture of my p

[2022-09-17 22:56] amesk3 commented on #781
Thinking more about this, @nmcharlton I think it would still be beneficial to add 'Distance between selected captures: x.x m' like you said, when only *two* images are selected. For 3 or 4 images I still think the visualizer will be easier to deal with.  I can do both. Let me know please!

[2022-09-18 18:10] y-usuzumi commented on #770
Hi, I'd like to give it a try as my first issue, but I'm not sure I get what's the mode of the dialog. The `CaptureDetailDialog` components doesn't seem to have different modes in different places (currently Verify and Captures). Could you please elaborate a bit?

[2022-09-19 08:56] sebastiangaertner commented on #781
Sounds great from my side. I think making a v1 version and then testing it for a while and adding specific functionality  to it and changing UX is totally legitimate since this is really about intuitive quick comprehension of the information that is conveyed.

[2022-09-19 15:44] nmcharlton commented on #620
Hi @Vlad-Pischaeff. I notice that @gwynndp has addressed some of this issue in #832, namely setting `owner_id` for new tags to the org UUID of the current user. It might be best to hold off on your work until that PR is merged to minimise duplication.

[2022-09-19 17:00] nmcharlton commented on #781
@amesk3 This is fantastic! I love the visualiser as a v2 implementation as you suggest. We may even be able to use a very simple version of the [web map](https://map.treetracker.org/) for a consistent user experience (assuming it doesn't become to cluttered with a satellite image underneath). I can see users wanting to quickly plot a batch of captures on a map like this to check the trees are dist

[2022-09-19 17:56] nmcharlton opened #834 "Growers: Include all grower images in Edit Grower dialog"
In the _Edit Grower_ dialog, we currently allow the user to select an image for the grower from their registration images only.
We should also make images from tracking sessions available.

With the legacy API, we need to query captures (trees) where `planterId` matches the selected planter, and get back all of the `planterPhotoUrl` values (note that there will be several duplicate URLs that need

[2022-09-19 19:58] nmcharlton opened #836 "Capture Matching tool crashes with "Invalid time value""
![Screenshot 2022-09-19 at 20 57 43](https://user-images.githubusercontent.com/5558838/191105659-dc51376a-b772-4096-9df0-f6480776a873.png)

[2022-09-20 02:54] marinakosova commented on #834
@nmcharlton does master use microservices or legacy API?

[2022-09-20 07:59] Vlad-Pischaeff commented on #836
It was my mess

[2022-09-20 13:10] tranquanghuy0801 commented on #720
<img width="1327" alt="Screen Shot 2022-09-20 at 11 05 42 pm" src="https://user-images.githubusercontent.com/29462498/191265480-2dd27200-36b1-4747-9cac-640a94fe2098.png">

Hey @nmcharlton , the `Capture Tags` still appears in the CSV export file after I download it. Is this the task of this issue?

[2022-09-20 19:41] nmcharlton commented on #818
Hi @nikiatoll, have you been able to make any progress on this issue?

[2022-09-20 19:41] nmcharlton commented on #828
Duplicate of #818

[2022-09-20 19:56] #770 closed

[2022-09-20 20:24] nmcharlton commented on #836
No worries. Thanks for fixing it so quickly!

[2022-09-20 23:07] tranquanghuy0801 commented on #720
@nmcharlton That makes sense. So the task is to fetch tag results in all pages?

[2022-09-21 03:32] Vlad-Pischaeff opened #838 "Inbox tool crashes with "Invalid time value""
![image](https://user-images.githubusercontent.com/48124219/191408295-38e6b46c-ebb6-4fd1-989c-958aef0f2231.png)

[2022-09-21 06:25] #838 closed

[2022-09-22 20:39] marinakosova opened #842 "Grower Detail: Previous capture appears while new selection loads"
## Steps to reproduce
1. Open Growers from menu
2. Open the dialog for any uploaded image
3. Wait for the image to load and close the Grower Detail dialog
4. Open the dialog for another capture.
5.  The image from the previous choice appears shortly while the new capture loads

https://user-images.githubusercontent.com/50210952/191373683-d16db9f3-d9c0-44eb-bd65-a95a6f571109.mov

## Desired behavio

[2022-09-22 20:43] marinakosova commented on #842
I would like to work with this issue because recently I fixed similar bug in Capture Detail.

[2022-09-23 06:11] Vlad-Pischaeff opened #843 "Verify - do we need to update the logic of the component?"
Component has this code

![image](https://user-images.githubusercontent.com/48124219/191900427-99b143a0-e03e-44b8-938e-75d4ab85ba92.png)

Rerender of the whole component occur every time the browser window is resized
I think it’s unnecessary...

[2022-09-23 15:15] Vlad-Pischaeff commented on #843
I try to solve this problem...

[2022-09-23 19:04] nmcharlton commented on #842
Thanks @marinakosova!

[2022-09-23 19:11] nmcharlton commented on #843
@Vlad-Pischaeff We recalculate the gallery distribution on resize, but it may be cleaner to do this with CSS.

[2022-09-23 19:53] #777 closed

[2022-09-23 20:08] #730 closed

[2022-09-23 20:16] #823 closed

[2022-09-24 11:08] nmcharlton commented on #834
Sorry @marinakosova, I've messed up here. We're already returning all of these images from the `/planter/:id/selfies` endpoint. I incorrectly thought that these images were registration images, but they're actually from the captures.
That explains why you're getting the same images.

I'll close this issue and suggest we address the problem of selecting a good grower image another way.

[2022-09-24 11:08] #834 closed

[2022-09-24 11:22] nmcharlton opened #845 "Edit Growers: Allow user to specify Grower Image URL"
In the Edit Grower dialog, users can select the best image of a grower from a gallery populated from Treetracker app selfies.
Users should be able to specify an image URL so they can use their own hosted images instead.

Note: The design and implementation should be coherent with #192 (image upload).
Once both of these issues are implemented, users will be able to:
1. Select an existing image
2. U

[2022-09-24 15:05] marinakosova commented on #834
@nmcharlton it make sense. Thank you for clarification.

[2022-09-27 06:01] Vlad-Pischaeff opened #847 "Index.js - react_dom__WEBPACK_IMPORTED_MODULE_2__.createRoot is not a function"
1. Fork and clone this repository
2. ``` npm i --legacy-peer-deps ```
3. ``` npm run start:dev ```
4. Visit [localhost:3001](http://localhost:3001)
5. See blank screen
![image](https://user-images.githubusercontent.com/48124219/192444699-eb3ab942-5d9f-4d40-b372-191cc62bdefb.png)
because the React version is set to 16

Maybe we should explicitly specify the React version in dependencies

[2022-09-27 17:01] nmcharlton commented on #847
@Vlad-Pischaeff Thanks for raising this. I think that's a good idea.

[2022-09-28 19:55] #847 closed

[2022-09-28 20:34] nmcharlton opened #849 "Regions: Display complete Region or Collection info in a drawer"
When a user clicks a row in the Regions or Collections table, they should see the full details of the region in a drawer (see Verify, Captures, Growers, Earnings for inspiration).
![Screenshot 2022-09-28 at 21 23 16](https://user-images.githubusercontent.com/5558838/192881549-a9c31b8a-810f-4c02-8de3-68d7ee7a4270.png)
## Regions
* The region shape on a basic map
* Name
* Owner
* Collection (link to

[2022-09-28 20:38] nmcharlton opened #850 "Regions: Remove download button from Collections"
The download button against Collection records does not work and should be removed.
![Screenshot 2022-09-28 at 21 35 03](https://user-images.githubusercontent.com/5558838/192883507-b9fa2990-2a6b-4ab5-a52b-1ff1b3c5bf1b.png)

[2022-09-29 07:14] sebastiangaertner opened #851 "Capture tool. Download not producing a valid csv file when selecting individual columns"
See screenshot. The scv file only contains -- Ôªø -- when opened in Excel
![Screenshot 2022-09-29 at 10 12 14](https://user-images.githubusercontent.com/3283800/192964793-e1f1da1a-e390-43ef-98af-af9c14c8761e.png)

[2022-09-29 12:48] dharmiknotop commented on #850
hey, @nmcharlton I am interested in solving this issue, can you assign this issue to me?

[2022-09-29 19:39] marinakosova commented on #851
@sebastiangaertner I got the same result like "Ôªø" when I first time downloaded the csv file. After that all other attempts were successful. Weird thing.

[2022-09-29 23:01] marinakosova commented on #849
@nmcharlton I would like to work on this.

[2022-09-30 02:30] dharmiknotop commented on #850
hey, @nmcharlton I had a couple of doubts, how can I login into the website like will you give me the password and id ? and there are multiple backend api repo's so would it be suffice to only install the regoins-api repo?

[2022-09-30 06:03] #836 closed

[2022-09-30 13:39] Vlad-Pischaeff commented on #851
Can I try to fix it?

[2022-09-30 18:37] fredericosafebox commented on #406
I would like to start working on this issue

[2022-10-01 15:43] #816 closed

[2022-10-01 15:43] #727 closed

[2022-10-01 15:44] #843 closed

[2022-10-01 15:44] #842 closed

[2022-10-01 15:51] #851 closed

[2022-10-01 15:51] #850 closed

[2022-10-01 16:12] nmcharlton opened #858 "Verify: Can't select a capture"
_Version: 1.108.0_

## Steps to Reproduce
1. Open Verify tool
2. Click on a capture
3. Nothing happens

## Expected Behaviour
Capture appears selected: checkbox checked, green background behind card.

[2022-10-01 16:18] nmcharlton opened #859 "Verify: Grower info not available"
_Version: 1.108.0_

## Steps to Reproduce
1. Open Verify tool
2. Click the person icon on a capture card
3. Grower dialog loads with no grower
<img width="1552" alt="Screenshot 2022-10-01 at 17 15 55" src="https://user-images.githubusercontent.com/5558838/193418559-4c90390f-ada3-45e7-adbd-9003dde246fa.png">

## Expected Behaviour
Grower info is shown correctly

[2022-10-01 16:22] nmcharlton opened #860 "Verify: Remove Grower UUID from capture tooltip"
We should always use the grower Wallet name to refer to a grower in the UI and remove the Grower UUID from everywhere it's not needed for programmatic use.
The UUID should be removed from the Verify capture tooltip.
<img width="1552" alt="Screenshot 2022-10-01 at 17 19 11" src="https://user-images.githubusercontent.com/5558838/193418720-1217686e-95b7-47b0-a19a-a35d8675c14a.png">

[2022-10-01 16:30] nmcharlton opened #861 "Verify: Grower map link on capture card uses incorrect URL"
_Version: 1.108.0_

## Steps to Reproduce
1. Open Verify tool
2. Click the map icon at the bottom of a capture card
3. Web map opens but does not show grower's captures (UUID in URL)

## Expected Behaviour
Web map opens and shows grower's captures

[2022-10-01 16:30] nmcharlton commented on #861
@dadiorchen Can we specify the wallet name in the webmap URL?

[2022-10-01 16:35] nmcharlton opened #862 "Captures: Capture Details not shown on capture click"
_Version: 1.108.0_

## Steps to Reproduce
1. Open Captures tool
2. Click any row in the table
3. Nothing happens

## Expected Behaviour
Capture Detail dialog opens and shows details of the selected capture

[2022-10-02 00:10] amesk3 commented on #781
Thank you! Please see my the PR for the v1 changes! @nmcharlton

[2022-10-02 07:45] Vlad-Pischaeff commented on #858
there are two places in **Verify.js**

![image](https://user-images.githubusercontent.com/48124219/193443545-1d92bea7-37f2-41df-8b73-4ac2197d9848.png)

and

![image](https://user-images.githubusercontent.com/48124219/193443576-ad536f0a-a2ba-4590-a38b-b9b6981820e3.png)

where we need to replace **capture.reference_id** to **capture.id**

[2022-10-02 09:00] dharmiknotop opened #865 "captures: Add a spinner while the image is loading up"
When a user initially hover over an item then it shows a blank tooltip for some seconds and then it loads up the Image,So add a spinner while the image is loading up.

### **Steps to reproduce**
1. Go to captures tab.
2. Hover over any item.
3. the Image loads up after some Delay.

### **Expected Behaviour**
 show a spinner while the image load's up

![image](https://user-images.githubusercontent.

[2022-10-02 10:07] #858 closed

[2022-10-02 10:21] Vlad-Pischaeff commented on #859
In the previous version we had a field **capture.planterId**, now it is not. Maybe this is the problem

[2022-10-02 12:09] tranquanghuy0801 commented on #862
The API call for capture detail has been updated in this commit https://github.com/Greenstand/treetracker-admin-client/commit/5530aef7e704be7764ee217e8a1d5d554a5781f3?diff=split#diff-18fa940aba496624830324f6c11fd3ddc739fa923ac995b85e83e0f0e5794bb0

Maybe this issue occurs because Admin API has not been updated?

[2022-10-02 12:57] tranquanghuy0801 opened #868 "Grower Tool - Incorrect different types of captures count"
In grower tool, the Grower Detail dialog of each grower shows similar number of captures count for each status (Approved, Awaiting, Rejected), which I believe this is incorrect. See the attached image.

![image](https://user-images.githubusercontent.com/29462498/193455175-66cde9ad-527f-42c3-9a4a-3099a5f58ecb.png)

[2022-10-02 14:26] #860 closed

[2022-10-03 04:37] sebastiangaertner opened #869 "Grower tool. Filter organization = "not set" is not working"
When selecting the filter option organization = "not set" it does not show the the planters without an organization. This is obvisouly a very legacy logic so the question is if it is worth fixing now since in the future this will be coming from the contract right?
![Screenshot 2022-10-03 at 07 35 22](https://user-images.githubusercontent.com/3283800/193502583-29657231-2f86-40ae-b7bd-87fde158ad48.p

[2022-10-03 04:38] Vlad-Pischaeff commented on #859
capture object in Verify.js

grower object in GrowerDetail.js

there is no field match...

[2022-10-03 17:16] sebastiangaertner opened #870 "Capture tool on download no URL in csv export file"
![Screenshot 2022-10-03 at 20 14 15](https://user-images.githubusercontent.com/3283800/193638667-c72eaa3b-e2b8-475e-99ca-7ad2e38d6439.png)

[2022-10-03 18:40] nmcharlton commented on #869
This appears to be a bug in the client query to the legacy API.
It may be worth fixing this on https://github.com/Greenstand/treetracker-admin-client/tree/hotfix/v1.107.

[2022-10-03 20:08] gwynndp opened #871 "Trim spaces from typed entries in all filters"
Extra spaces cause values not to be matched.

[2022-10-03 20:11] gwynndp opened #872 "Add wallet to grower detail view"

[2022-10-03 20:23] gwynndp opened #873 "Reset Filter-Top doesn't reset SelectOrg state"
Captures and Verify Filters

## Steps to Reproduce
1. Open Capture or Verify tool
2. Click any organization
3. Filter
4. Click Reset button
5. Other filters reset to defaults but selected organization stays

## Expected Behaviour
Organization dropdown should reset to "All", the default value

[2022-10-03 20:24] gwynndp opened #874 "Capture Match: Capture Details not shown on capture click"
## Steps to Reproduce
1. Open Capture Match tool
2. Click any row in the table
3. Nothing happens
4. See network error in console

## Expected Behaviour
Capture Detail dialog opens and shows details of the selected capture

[2022-10-03 20:24] gwynndp opened #875 "Add uuid to species table and api response"

[2022-10-03 20:37] #769 closed

[2022-10-04 16:28] #865 closed

[2022-10-04 21:15] thomascouto opened #878 "Fail to compile"
# Steps to reproduce

1.  Clone treetracker-admin-client
2. run npm install --force --legacy-peer-deps

[code]

[2022-10-04 21:44] thomascouto commented on #870
Hello, the csv file shows correctly in my desktop

![image](https://user-images.githubusercontent.com/16022815/193936107-2b04dc85-dc56-4e71-ba96-0dc402f6ec26.png)

[2022-10-04 23:35] marinakosova commented on #849
@nmcharlton I started working on this issue. I noticed that Admin Panel has several tables which made differently. For example, Payments and Earnings tables use CustomTableItemDetails component which is convenient. The Regions table was created from scratch (without use of CustomTableItemDetails with its styles and layout). It is not match work to add styles for a new drawer and even a markup. It

[2022-10-05 04:05] dharmiknotop opened #879 "Add a spinner while the image loads up in verify page"
it shows a blank white space for some seconds while the image loads up, so add a spinner while the image is loading up.

### **Steps to reproduce**
1. Go to verify tab.
3. the Image loads up after some Delay in that while it shows a white blank space.

### **Expected Behaviour**
 show a spinner while the image load's up

![image](https://user-images.githubusercontent.com/73011112/193978990-392f092

[2022-10-05 05:08] Vlad-Pischaeff commented on #878
In this case just replace

to

in that files. This behavior is caused by the new version of uuid.
I have not yet figured out which package pulls the new version

[2022-10-05 05:44] Vlad-Pischaeff opened #880 "Growers. Multiply network queries while hover on some growers"
Mouse hover over some growers causes network requests with negative results

![image](https://user-images.githubusercontent.com/48124219/193989189-6887650c-4040-40df-b9c5-5179e17adf8d.png)

In addition, the tooltip has, in my opinion, not quite pleasant design

[2022-10-05 08:54] Vlad-Pischaeff commented on #880
I'll try to fix it

[2022-10-05 15:36] nmcharlton commented on #879
@dharmiknotop I wonder if  `Skeleton` might look better here.

[2022-10-05 21:18] nmcharlton commented on #870
@thomascouto It looks like @Vlad-Pischaeff fixed this under #856. Let's apply the fix to the `hotfix/v1.107` branch and get a new release out to prod.

[2022-10-05 21:44] thomascouto commented on #870
Thanks, gonna find another issue to solve :)

[2022-10-06 03:14] dharmiknotop commented on #879
umm, yea same thought came after I saw too many spinner's on my screen for a sec : | so, your call should I Implement or not but like can we increase the speed in which the image loads up? cause they are not going good ux.

[2022-10-06 06:15] nmcharlton commented on #879
I've asked the cloud team to add a CDN for the image resizing API so we don't have to dynamically regenerate the images each time (as we do now). That will speed up loading significantly.

[2022-10-06 06:41] nmcharlton commented on #870
@Vlad-Pischaeff Could you apply your fix to the hotfix branch?

[2022-10-06 07:49] #873 closed

[2022-10-06 08:36] Vlad-Pischaeff commented on #870
Finished.
Branch hotfix/v1.107

[2022-10-06 14:01] Vlad-Pischaeff commented on #868
It seems to me that all recent bugs due to the latest **treeTrackerApi** update

[2022-10-07 02:03] #879 closed

[2022-10-07 09:36] sebastiangaertner opened #883 "Group by device id"
The filter that is currently used "by device id" in the grower module is not super healpful. The most common way would be to be able to group by device id to see all planters that come from one phone. This would also help to understand what ground teams do. Scenario: Village leaders are often the ones having the hardware (phone) to track the trees but there are many outgrowers or planters that rel

[2022-10-07 09:38] sebastiangaertner commented on #883
It is currently broken! Device uuid: 7b461aef-8951-4d54-82c1-c013381adaff for exmple does not show any growers. Also the device id is not shown in the gowers panel which i believe is a known issue.

[2022-10-07 09:53] Vlad-Pischaeff opened #884 "Verify Captures and treeTrackerApi - inconsistencies in object fields"
file **SidePanel.js**
[code]
this handler is taken from file **Verify.js**
[code]
**VerifyContext.js** contains a handler **approveAll** that calls **approve**
[code]
object **approveAction** in **VerifyContext.js** does not match object  **approveAction** in **SidePanel.js**

file **treeTrackerApi.js** contain function **approveCaptureImage**
[code]
**capture** from **Verifycontext.js approve()**

[2022-10-07 13:16] Vlad-Pischaeff commented on #884
I think all frontend developers are in dire need of a diagram of database tables, the type of fields and the relationships between the tables. Preferably in graphical form and compiled by backend developers. You can not work blindly, and searching for the necessary information takes additional precious time.

[2022-10-07 13:17] Vlad-Pischaeff commented on #884
I think recent issues are caused by this

[2022-10-07 21:29] marinakosova commented on #849
Hi @nmcharlton. I have questions.
1. In the Regions Drawer what do you mean by "Collection (link to collection details)". I don't know what is the collection details (and region details as well).
2. Is it ok to display all properties for the Regions Drawer since it is enough space to do this?
3. As I understand in the Regions Drawer I should display "The region shape on a basic map" as a SVG image

[2022-10-09 19:27] nmcharlton commented on #870
Fixed in hotfix branch; already fixed in `master`

[2022-10-09 19:27] #870 closed

[2022-10-10 09:07] sebastiangaertner opened #886 "extend filters by showing related organizations or not"
would it be possible to have a default (show all sub orgs) inline select button like this ? Is that even possible?
![Screenshot 2022-10-10 at 11 34 42](https://user-images.githubusercontent.com/3283800/194832338-6629fd49-0798-40e7-85d7-735de91abf9f.png)

[2022-10-10 17:51] sebastiangaertner opened #888 "Grower: new filter by amount of captures uploaded."
It would be great to have a simple filter
0
1-25
more than 25

[2022-10-11 05:43] sebastiangaertner commented on #869
ok. great. Did someone pick this up yet?

[2022-10-11 07:36] Vlad-Pischaeff commented on #740
My solution is better, I suppose.
My decision fixed cause rather then effect

сб, 27 авг. 2022 г. в 13:34, Nick Charlton ***@***.***>:

[2022-10-12 04:43] gwynndp opened #889 "Verify approve bug"

[2022-10-12 18:27] #739 closed

[2022-10-12 18:40] gwynndp commented on #725
This issue looks like it was resolved in #340.  Closing for now

[2022-10-12 18:40] #725 closed

[2022-10-12 18:52] gwynndp opened #892 "Species: Tagged Captures only shows 0"
Issue:
- the "Tagged Captures" column only shows 0 even when there are captures tagged with species

https://monosnap.com/file/w2xJSknjYAbWKriBPR5qUBGf2zn3tL

[2022-10-13 06:07] sebastiangaertner opened #893 "Date filters in verify and captures has issue with sql result on time query"
SQL steatements....
`and date(time_created) BETWEEN '2022-08-01' and '2022-08-31' `shows the correct info.

`and time_created not Between '2022-08-01' and '2022-08-31';` excludes the 31st of August

[2022-10-13 10:18] nmcharlton commented on #893
This is either a limitation of LoopBack or a an issue in how we are forming our query string when calling the legacy API. LoopBack doesn't perform the `date` casting.

[2022-10-13 16:56] #862 closed

[2022-10-13 16:56] #874 closed

[2022-10-13 17:01] #889 closed

[2022-10-13 17:04] nmcharlton commented on #888
This will likely need a corresponding change in the API to query by number of captures.

[2022-10-13 17:07] nmcharlton commented on #886
I'd suggest we make it a separate toggle that's only enabled when an org is selected in the filter. A toggle inside a dropdown list like this is a little odd.

[2022-10-13 17:10] nmcharlton commented on #886
I'm not sure how org filtering is implemented in the new APIs, but the legacy API automatically includes sub-orgs.

@gwynndp @Kpoke How do you see this working?

[2022-10-14 03:23] Vlad-Pischaeff opened #894 "Master branch does not pass tests"
How to reproduce:

- git clone https://github.com/Greenstand/treetracker-admin-client.git
- npm install
- npm run test

result

![image](https://user-images.githubusercontent.com/48124219/195753161-4cbdf982-298e-4919-a3b2-728661551205.png)

[2022-10-15 15:28] nmcharlton commented on #849
Hi @marinakosova. Apologies for the slow response.
As discussed on Tuesday:
1. It should be possible to switch between the Region Details drawer and the Collection Details drawer (as shown in your screenshots) by clicking the collection name in the Region Details drawer and any child region name in the Collection Details drawer.
2. Yes. A better component might be the drawer used for Grower Detail

[2022-10-15 15:39] nmcharlton commented on #859
You're right. `planterId` doesn't exist in the new microservices.
Instead we uniquely identify and query growers using `capture.grower_account_id` which maps to `grower.id`.
GrowerDetails.js should query the new [treetracker-query-api](https://github.com/Greenstand/treetracker-query-api/blob/main/docs/api/spec/query-api.yaml). @gwynndp has [already done some of this work](https://github.com/Greens

[2022-10-15 16:00] nmcharlton commented on #884
@gwynndp Can you double-check whether your recent changes address this issue?

@Kpoke Do we publish our API specs as documentation at all?
As for database tables, we could export the ERD for each schema and add it to the documentation, but would need to manually indicate cross-schema links.

As we go through our microservice migration, we're tweaking the mapping between the legacy tables and the n

[2022-10-15 16:05] nmcharlton commented on #869
Not yet.

[2022-10-16 16:31] nmcharlton opened #896 "Verify/Captures: Filter by session"
## New Feature
A filter in the Verify and Captures tools that allows the user to see all captures from a specific tracking _session_.

![Screenshot 2022-10-16 at 16 45 04](https://user-images.githubusercontent.com/5558838/196044693-8464fc38-3f47-4daa-b891-d60c58bba0e3.png)

## Desired Behaviour
1. In the filter, users see a list of sessions labeled with start date/time (`session.created_at`) and w

[2022-10-16 16:51] nmcharlton opened #897 "Capture Matching: Don't truncate capture reference ID"
![Screenshot 2022-10-16 at 17 49 29](https://user-images.githubusercontent.com/5558838/196047780-901b6430-ca05-4cf7-82eb-682f80f1980c.png)

We're unnecessarily truncating the ID we display for captures on the left side of the Capture Matching tool.
This is a hangover from when we displayed the long UUID instead of the shorter reference ID.

[2022-10-16 17:04] ujwalkumar1995 commented on #897
Hey @nmcharlton
I would like to work on this.  Could you please assign to me?

[2022-10-16 19:04] ujwalkumar1995 commented on #897
Hey @nmcharlton
I have created the PR to fix this. Could you please review?

[2022-10-17 18:42] marinakosova commented on #849
@nmcharlton I created a pull request with working drawer but without Geo JSON data. I don't want to hold this feature so that user can already use it.
Is it ok to continue to work with this issue or maybe it is a good idea to create a new one. I never worked with react-leaflet before.

[2022-10-17 18:44] marinakosova commented on #849
It looks like my request failed...

[2022-10-17 21:35] #897 closed

[2022-10-22 17:37] gustarpd commented on #845
I would like to work on this issue.

[2022-10-25 14:47] thawansilva commented on #608
Hello, I am Thawan, I would like to work on this issue!

[2022-10-27 06:28] sebastiangaertner opened #903 "Species creation is broken"
Can no longer add species through the Add species button.

[2022-10-27 18:37] gwynndp opened #905 "Treat capture approval tag as tag"

[2022-10-27 19:12] #905 closed

[2022-10-30 20:22] nmcharlton commented on #668
Closing for now as this appears to have been fixed in treetracker-reporting.

[2022-10-30 20:22] #668 closed

[2022-10-31 13:05] SuspenseFallback commented on #894
I can't seem to be able to reproduce this.
<img width="519" alt="Screenshot 2022-10-31 at 9 04 27 PM" src="https://user-images.githubusercontent.com/86506971/199014543-9280a41c-4ba5-478a-a410-b6d0518a4e01.png">

[2022-10-31 22:34] #875 closed

[2022-11-01 13:31] SuspenseFallback commented on #903
The backend says that `uuid` is required

Are we supposed to send a `uuid` field?

[2022-11-01 18:34] nmcharlton commented on #859
@gwynndp

[2022-11-01 18:35] nmcharlton commented on #861
@gwynndp

[2022-11-01 18:35] nmcharlton commented on #868
@gwynndp

[2022-11-01 20:51] nmcharlton commented on #903
Fixed in Greenstand/treetracker-admin-api#651

[2022-11-01 20:51] #903 closed

[2022-11-02 21:42] nmcharlton commented on #894
I am also seeing all tests pass. Closing for now.

[2022-11-02 21:42] #894 closed

[2022-11-03 07:04] #849 closed

[2022-11-03 13:50] SuspenseFallback commented on #892
I think this is a backend issue.

[2022-11-03 20:25] nmcharlton opened #914 "Dismiss filter drawer on background click or ESC keypress"
When the Capture Matching filter drawer is open, the user should be able to dismiss it by either clicking anywhere outside the drawer (background) or by pressing ESC. Currently, they have to press the `X` button, which is fiddly.
<img width="1552" alt="Screenshot 2022-11-03 at 20 22 59" src="https://user-images.githubusercontent.com/5558838/199826676-d0d739f9-b754-45ff-9c87-0e931c5ed948.png">

[2022-11-03 20:27] nmcharlton commented on #914
This also applies to the filters in the Earnings and Payments tools, which should also grey out the background when the drawer is open.
<img width="1552" alt="Screenshot 2022-11-03 at 20 27 27" src="https://user-images.githubusercontent.com/5558838/199827203-1563c3de-ab24-4e38-be9e-7a2be7de89f3.png">

[2022-11-03 20:30] nmcharlton opened #915 "Persist filter parameters in URL"
## User Story
**As an** Admin Panel user **I want** to bookmark or link directly to pre-filtered views on each of the Admin Panel tools that support filtering **so that** I don't have to set my preferred filters each time I open the tool, and can share direct links to other users.

## Feature Description
We need to encode the current filter selection in the URL as a query string and have it update

[2022-11-04 06:34] sebastiangaertner opened #917 "Reporting cards: new reporting card for number of Trees"
A **"Tress"** reporting card with exactly like the "**Captures**" card needs to be added to the home screen.

[2022-11-04 08:58] sebastiangaertner commented on #917
![Screenshot 2022-11-04 at 11 57 45](https://user-images.githubusercontent.com/3283800/199933078-08bd3316-be0a-472f-9986-243a13e485e1.png)
![Screenshot 2022-11-04 at 11 57 34](https://user-images.githubusercontent.com/3283800/199933089-ef692bc9-5d68-45c0-8d84-451d5ffaf83c.png)

Both of these

[2022-11-04 13:04] thomascouto commented on #914
Hello, I've completed this pr already. What branch should I push it ?

[2022-11-04 16:27] camwebb opened #919 "Refactoring species information (Umbrella issue)"
As the number of species tracked and the number of organizations tracking species increase, a significant shift in Greenstand species management is needed: organizations should to be able to add to and manage their own ‘local’ species lists, using their own local names and/or scientific names. As time permits, GS botanists can then link local names to a global species list (currently in the `tree_

[2022-11-04 17:59] #914 closed

[2022-11-05 02:03] SuspenseFallback opened #920 "Home: Axios Error 503 on reporting/capture/statistics?"
On Home.js, this error appears in the console after a few seconds:

<img width="407" alt="Screenshot 2022-11-05 at 10 00 45 AM" src="https://user-images.githubusercontent.com/86506971/200096210-b2ce0514-406f-4ee7-bd8c-0b384e9b4f84.png">

Home.js:62

[code]

[2022-11-05 04:13] dadiorchen commented on #406
I think we still need someone to push this forword

[2022-11-05 06:48] dadiorchen opened #921 "Wrong date on this page"
https://prod-k8s.treetracker.org/web-map-beta/demo/organizations/178?bounds=-13.765869140625002,6.68643125265198,-9.810791015625,10.628216112538693

![Image](https://user-images.githubusercontent.com/5744708/200106756-6274c4d6-c7ee-43c2-a237-2b90f6a61f31.png)

[2022-11-05 10:19] SuspenseFallback commented on #917
I don't have too much experience here, so what is `treetracker.tree`?

[2022-11-05 15:24] nmcharlton commented on #917
From the perspective of the client, this will likely be a new `trees` item in the response to a `/reporting/capture/statistics` API query (reporting-api):
[code]

`treetracker.tree` just refers to the DB table that stores the list of trees. In practice, the reporting API aggregates all captures and counts how many different trees appear attached to captures.

[2022-11-05 15:30] nmcharlton commented on #917
This depends on Greenstand/treetracker-reporting#56.
The card should appear on the top row of the dashboard as it's one of the most important ones.

[2022-11-05 15:39] #871 closed

[2022-11-05 15:43] #733 closed

[2022-11-05 15:46] nmcharlton commented on #892
Interestingly, this seems to be ok in the test env, which is running the same client and Admin API versions as dev. I wonder whether it's something with the data migration and state of the two databases. Certainly needs more digging.

![Screenshot 2022-11-05 at 15 44 51](https://user-images.githubusercontent.com/5558838/200128185-a8425e10-fd53-44be-8148-e67bc19a150a.png)

[2022-11-05 16:28] nmcharlton commented on #920
This looks like an issue with the deployment. I've asked the cloud team for assistance.

[2022-11-05 16:37] nmcharlton commented on #406
@fredericosafebox Did you make any progress on this issue?

[2022-11-05 17:01] nmcharlton commented on #654
This is now supported by the API with query parameter `planting_organization_uuid`.

[2022-11-05 23:55] janet-yu commented on #667
Hello, I'd like to take a stab at this issue! I'm thinking if a note typically has <= 20 characters for a capture, then perhaps we can go the simple route and display it right below the image, similar to a caption or footnote.

[2022-11-06 01:55] SuspenseFallback commented on #917
Can I be assigned to this issue?

[2022-11-06 03:46] janet-yu commented on #667
Quick q: is there an example unmatched capture with candidate matches? I'd like to be able to tinker around with those as well.

[2022-11-06 04:55] SuspenseFallback commented on #915
Should the filters be automatically bookmarked or should there be a "Save" button that can be used to set the preferred filters?

[2022-11-06 05:11] SuspenseFallback commented on #915
Can I be assigned to this?

[2022-11-06 07:43] nmcharlton commented on #915
Note that there is currently no requirement for a filter bookmark feature within the Admin Panel. Instead, filters in the URL would allow users to bookmark a filter using their browser.

[2022-11-06 09:14] SuspenseFallback commented on #915
So the user has to manually bookmark the page? Or does the filter get bookmarked via something like `localStorage`?

[2022-11-06 10:12] nmcharlton commented on #915
Manual bookmarking is fine for now. The main aim of this issue is the mechanism that enables persistable filters.

Sorry for the misleading user story.

[2022-11-06 15:04] nmcharlton commented on #917
Note: There's little benefit in creating a new card for the legacy dashboard, since all organizations will soon move across to the new dashboard under #654.

[2022-11-06 16:39] nmcharlton commented on #919
Since this change will span several repos, I'll create a new Github project to track all the related issues.

[2022-11-06 17:03] nmcharlton commented on #667
@janet-yu: @gwynndp and @Kpoke should be able to help – they're currently working on the data side of capture matching.

[2022-11-07 02:10] dadiorchen commented on #920
Can you check it again, it's back now

[2022-11-07 02:46] dadiorchen commented on #917
I think this is still the old problem, in dev, the service randomly fails, for me, there is 30% probability that the request fails.

[2022-11-07 02:47] dadiorchen commented on #917
@emmanue any cludes on this?

[2022-11-07 03:06] dadiorchen commented on #406
Because we have done the `order_by` on the API side, https://dev-k8s.treetracker.org/treetracker/captures?order_by=captured_at so I think this issue is pretty easy to sovle

[2022-11-07 12:34] SuspenseFallback commented on #920
Yeah, the error is still there.

[2022-11-07 12:40] SuspenseFallback opened #923 "capture: filter does not work"
The capture filter doesn't work, although it works in Verify
<img width="1440" alt="Screenshot 2022-11-07 at 8 40 22 PM" src="https://user-images.githubusercontent.com/86506971/200312805-537f8a78-4022-492a-a344-e197a692b738.png">
As seen above, the rejected filter doesn't work.

Edit: Not only the verification filter, but the Grower ID and Capture ID too. The Capture UUID gives an error - #935

[2022-11-08 11:31] SuspenseFallback commented on #915
Are the `active` and `approved` parameters also supposed to persist?

[2022-11-08 21:18] nmcharlton opened #926 "Capture Matching: Show `captured_at` instead of `created_at`"
If `capture.captured_at` is present, that should be used as the date displayed above the capture.
If not present, `capture.created_at` should be used.

[2022-11-08 21:21] nmcharlton commented on #926
@gwynndp

[2022-11-08 21:22] #734 closed

[2022-11-08 21:24] #406 closed

[2022-11-08 21:33] nmcharlton commented on #915
The verification status needs to persist in Verify.
The `active` and `approved` parameters will soon be removed from Captures, so are less important.

[2022-11-09 09:33] sebastiangaertner opened #928 "uuid of capture is missing in the "Captures" Module download"
When choosing the  available fields on the download option on the Captures module we have the token_uuid but not the capture_uuid. This needs to be available as well for API calls.

[2022-11-09 10:02] SuspenseFallback commented on #915
What is the `verification` status?

[2022-11-09 18:10] janet-yu commented on #926
Hello! Could I work on this issue?

[2022-11-10 02:51] dadiorchen commented on #920
@SuspenseFallback please check it again

[2022-11-10 02:52] dadiorchen commented on #917
@emmanue I have fixed this problem, there is a extra invalid mapping for reporting, after deleting that one, it's all good.

[2022-11-10 17:03] #926 closed

[2022-11-10 17:17] nmcharlton commented on #915
It's the first filter in Verify. It maps to `status` in the `/field-data/raw-capture` query.

[2022-11-10 17:24] nmcharlton commented on #915
Apologies, I didn't realise we were still using `active` and `approved` booleans as a proxy for `status`. We can remove those and use a direct mapping in the filter and everywhere we display the verification status.

[2022-11-10 21:02] nmcharlton commented on #919
See https://github.com/orgs/Greenstand/projects/64

[2022-11-11 04:02] dadiorchen opened #930 "The location and country name with capture matching tool is broken"
As shown in the picture, the location of the capture is empty, and if click the location icon, the map is wrong to show the location of this capture.
<img width="1427" alt="Screen Shot 2022-11-11 at 12 00 19 PM" src="https://user-images.githubusercontent.com/5744708/201260664-3730348d-3fb0-41a3-b21c-33ee3adb09e8.png">

[2022-11-11 17:15] janet-yu commented on #930
I'd like to take this issue on!

[2022-11-12 10:11] SuspenseFallback commented on #920
It's gone now.

[2022-11-12 10:11] #920 closed

[2022-11-13 20:09] nmcharlton commented on #915
@gwynndp Can you make sure we remove `active` and `approved` from the filter models as part of the _Captures_ migration?

[2022-11-13 20:51] nmcharlton commented on #447
@henriquemoreiraa I didn't realise you were working on this issue. There's an issue dedicated to persisting filter params in the URL that @SuspenseFallback is working on: #915.

[2022-11-13 20:52] #667 closed

[2022-11-13 22:54] #930 closed

[2022-11-14 05:15] sebastiangaertner opened #934 "Mechanism to populate treetracker.tree from treetracker.capture"
Since only some projects have used a code coming from the App within the treetracker.public.trees.note field to identify the first appearance of a tree other orgs and users need to be able to select captures and turn them into tree records. (capture->tree) in order to follow the new domain model and activate the capture matching tool etc.
This would need a small UI but could/should be part of the

[2022-11-14 05:40] SuspenseFallback opened #935 "Captures: AxiosError: Internal Server Error"
On the Captures page, an error pops up in the console when submitting a Capture UUID  - 500 (Internal Server Error).

<img width="531" alt="Screenshot 2022-11-14 at 1 39 08 PM" src="https://user-images.githubusercontent.com/86506971/201583746-05b28aaa-93cd-4aab-baca-6969e754e376.png">

[2022-11-14 05:46] SuspenseFallback opened #936 "Verify: The captures hang when an error happens."
When submitting some invalid filters in the Verify, the page hangs on a spinner:

<img width="1439" alt="Screenshot 2022-11-14 at 1 43 51 PM" src="https://user-images.githubusercontent.com/86506971/201584308-0c5d5cd7-3d4e-4efa-8898-686802594010.png">

Submitting an invalid Grower Account Id results in an error 422:

<img width="533" alt="Screenshot 2022-11-14 at 1 46 16 PM" src="https://user-image

[2022-11-14 16:13] nmcharlton commented on #447
It's probably best to pick it up again when #915 is complete.

@SuspenseFallback It may be worth looking at the PR that @henriquemoreiraa created.

[2022-11-14 19:21] nmcharlton commented on #934
This can be a frontend-only piece of work since Treetracker API already supports tree creation (see [API spec](https://raw.githubusercontent.com/Greenstand/treetracker-api/main/docs/api/spec/treetracker.v1.yaml)).
[code]

[2022-11-14 19:25] nmcharlton commented on #934
We could simply replace the _Age_ section in the Verify tags _Approve_ dialog with a checkbox (unchecked by default):
[code]

@sebastiangaertner Would that do the trick?
We would still need a way to mark already approved captures as new trees.

@Kpoke Do we record these actions as audit events?

[2022-11-14 20:03] nmcharlton commented on #935
This is a mid-migration issue: we're querying the legacy API `id` field (integer) with the new UUID (string).
@gwynndp: One to fix as part of the Captures migration.

[2022-11-14 20:06] nmcharlton commented on #936
For info, there's an open issue to properly handle all errors from the APIs in the frontend: #473

[2022-11-14 20:10] #608 closed

[2022-11-14 23:54] gwynndp opened #938 "Add wallet to Capture Detail Dialog"
Currently the wallet id shows in the Capture Tool Tip but still shows as blank in the Capture Detail Dialog.

[2022-11-14 23:56] gwynndp opened #939 "Add copy button to the Tree Card to allow copying the full uuid [Capture Match]"
Currently you can see the tree card with only part of the uuid.  It is sometimes needed to look up the tree in the database, so it would be nice to be able to copy the full uuid.

[2022-11-15 03:37] Kpoke commented on #934
No, they are not currently recorded as audit events

[2022-11-15 06:00] janet-yu commented on #938
I'd like to work on this!

[2022-11-15 18:07] sebastiangaertner opened #941 "Taller images breaks the design in capture matching making it impossible to use."
See screenshot
![Screenshot 2022-11-15 at 21 06 54](https://user-images.githubusercontent.com/3283800/201993959-ad0359eb-a22f-4beb-9e17-ecbb9a33f7d1.png)

[2022-11-16 07:17] dadiorchen opened #942 "A error causes the matching tool to crash"
Looks like a special date will crash the panel:

![Image](https://user-images.githubusercontent.com/5744708/202111804-d1373d82-71cb-4b5e-a139-cf1df538beaa.png)

![Image](https://user-images.githubusercontent.com/5744708/202111946-3ead7fc3-4fb5-4aba-a2b5-a4017a8bcd04.png)

![Image](https://user-images.githubusercontent.com/5744708/202111986-f8fd3bd2-aaf2-48d1-ba70-355e4bed7230.png)

[2022-11-16 07:37] nmcharlton commented on #941
All images should be the same hight with variable width.

[2022-11-16 16:43] navDhammu commented on #941
Adding a fixed height and variable width causes the capture details to overflow.

<img width="460" alt="Screen Shot 2022-11-16 at 11 38 53 AM" src="https://user-images.githubusercontent.com/73000930/202240286-e970ca74-aba0-49a8-98a4-0a5395c16afd.png">

[2022-11-17 00:38] AlexandreDaltro commented on #942
Hello! How could I reproduce this error?
I tried to use the filter with different values, but couldn`t get the error.

[2022-11-17 00:55] AlexandreDaltro commented on #923
Here I`ve cloned it today, and only the Capture UUID works. None of the others are working.

![image](https://user-images.githubusercontent.com/105553750/202327143-96c41e0b-392c-4f11-b79f-07150292e8ec.png)

[2022-11-17 02:10] dadiorchen opened #945 "The distance number is missing"
If I remember it correctly, on the matching tool, there should be a number indicating the distance between current tree and capture, right? @nmcharlton

<img width="767" alt="image" src="https://user-images.githubusercontent.com/5744708/202336997-b1dcb0af-99e5-4d15-9f05-d35b1193900d.png">

[2022-11-17 02:15] dadiorchen commented on #942
Did you join our slack? can you reach me on Slack? If not can you leave your email so I can invite you?

[2022-11-17 04:32] janet-yu commented on #938
Question: Are different fields returned based on the endpoint hit? For instance, the captures returned when hitting `/raw-captures` to fetch all captures, it returns the captures with the `wallet` field. But when hitting `/raw-captures/:capture_id`, the capture returned doesn't have the `wallet` field.

Example capture returned from hitting `/raw-captures` (the captures rendered in the Verify page

[2022-11-18 04:02] #945 closed

[2022-11-18 04:05] sebastiangaertner commented on #928
Token ID should be renamed to Token UUID and we need the additional Capture UUID added here in the list and it being available in the download.

![image (2)](https://user-images.githubusercontent.com/3283800/202614180-2a73c718-91c4-4977-91e2-f908c676b18b.png)

[2022-11-18 04:06] sebastiangaertner commented on #928
The Wallet UUID should also be available.

[2022-11-18 04:18] sebastiangaertner opened #949 "Capture matching tool should not show trees that are within 1 months of the compared image"
See screenshot below. This is from live data in the beta admin which is now ready for testing.
The images on the right have to be at least 1month older than the one that is matched (left side) here see example.

[2022-11-18 04:20] sebastiangaertner commented on #941
@navDhammu Thank you for picking this up! @nmcharlton can this be merged fairly quickly? It currently breaks the testing in beta which we have now started based on live data.

[2022-11-18 07:56] sebastiangaertner opened #951 "Grower Filter organization id "not set" is not working"
when filtering by not set it shows all growers.

[2022-11-18 16:33] gwynndp opened #952 "Add wallet filter to Growers"
Currently there is no way to filter the growers by their wallet

Wallet is becoming a key way of identifying unique grower actions and for comparing grower activity

[2022-11-18 17:19] navDhammu commented on #949
I would like to work on this

[2022-11-19 02:27] dadiorchen commented on #941
It has been solved in the hotfix/107, @nmcharlton what shall we do on this case? Fixed bug on hotfix/107, and sync to master?

[2022-11-19 02:31] dadiorchen commented on #949
@navDhammu thanks for putting your energy into this, the capture matching tool is the major focus for us these days.

[2022-11-19 07:02] nmcharlton commented on #941
@dadiorchen Yes. I think a PR against `master` with the hotfix branch deltas would be easiest.

[2022-11-19 07:05] #939 closed

[2022-11-19 07:17] nmcharlton commented on #949
@dadiorchen @sebastiangaertner This should be part of the `potential-matches` logic in a treetracker-api rather than in the client. @Kpoke

[2022-11-21 07:40] dadiorchen commented on #949
@sebastiangaertner I think this rule is a bit overkill, it's possible that the planter revisits the tree within a month, we shouldn't restrain this.

BTW, the dates on the UI is totally wrong, I have corrected it.

[2022-11-21 09:53] sebastiangaertner opened #957 "Capture matching tool dates are wrong"
See attached screenshot. Faded dark overlayed date says 3rd of Nov and the capture info 16th of July.
![Screenshot 2022-11-21 at 12 50 46](https://user-images.githubusercontent.com/3283800/203020082-c5c48495-84ca-4fbd-99aa-a683a44fd294.png)

[2022-11-21 22:04] Kpoke commented on #949
Yeah this issue should be transferred to the treetracker-api

[2022-11-22 01:27] dadiorchen commented on #949
@sebastiangaertner and I discussed this, to provider good flexibility, we can do:
1. Add a filter to do: `just some trees in the time range: 1 week, 2 weeks, 1 month...
2. Set the default value to 1 month, so by default, people just see tree 1 month ago

[2022-11-22 03:37] sebastiangaertner opened #959 "Species: Adding species does no longer work. No error shown"
In production adding new species is no longer working.

[2022-11-22 04:23] janet-yu commented on #938
@nmcharlton Just wanted to check in on this issue, is there documentation where I can check what object we expect to be returned by the API?

[2022-11-22 06:55] nmcharlton commented on #959
@sebastiangaertner Can you retest this? I've deployed the legacy API fix to production.

[2022-11-22 18:21] nmcharlton commented on #951
Likely fixed in #955 (to be retested after merge).

[2022-11-22 19:12] nmcharlton commented on #951
Duplicate of #869

[2022-11-22 19:21] elyselam commented on #772
Please assign this to me

[2022-11-22 19:26] elyselam commented on #928
Please assign this to me

[2022-11-23 00:58] AlexandreDaltro commented on #893
The query goes like this:
https://dev-k8s.treetracker.org/api/admin/api/trees/count?where={"timeCreated":{"between":["2022-11-01","2022-11-11"]},"and":[{"or":[{"active":true,"approved":true},{"active":true,"approved":false}]}]}

Either we could SUM 1 day to the endDate, before sending the query (I can do that if you like), or someone to fix something in the API back end.

[2022-11-23 05:24] elyselam commented on #772
<img width="2093" alt="image" src="https://user-images.githubusercontent.com/30991021/203474219-233735f5-6a56-47ae-a2da-10d093766e9c.png">
Am I looking in the right place? I see lat and lon in the csv download

[2022-11-23 21:28] nmcharlton commented on #772
@elyselam Yes, you're right. `lat` and `lon` are included in the export.
I see the same behaviour in the production environment.

I'll close this issue as fixed.

[2022-11-23 21:28] #772 closed

[2022-11-23 21:41] nmcharlton commented on #893
@AlexandreDaltro Could you just add times to the query? E.g.,
[code]

[2022-11-24 17:03] AlexandreDaltro commented on #893
Just to make sure: Right now from which branch should I work from, and where to Pull Request?
Master, or Hotfix/V1.107?

[2022-11-24 19:40] nmcharlton commented on #893
`master` is fine. We should soon be able to migrate the production environment to that branch.

[2022-11-25 03:39] AlexandreDaltro commented on #893
Thanks! Done, using the master as origin.

[2022-11-29 18:34] sebastiangaertner opened #964 "Verification no longer working when adding a tag"
When going through normal verification and using tags it does no longer work. this is in production and has been confirmed by several users. See screenshot of the console.
![Screenshot 2022-11-29 at 21 44 42](https://user-images.githubusercontent.com/3283800/204618982-de5b6cc8-25ac-4941-83d2-8c27e84289d0.png)